[2017-12-12 05:48] cmoulliard commented on #94
I'm facing issue if I try to build istio 0.3.0 (git tag) on macos using :
- Build label: 0.7.0-homebrew
- go version go1.9.2 darwin/amd64

go env
[code]

Gopkg.lock are in sync with imports and Gopkg.toml

[code]

But build is failing

[code]

[2017-12-12 14:27] costinm commented on #94
make build is using bazel - which is not happy with the standard go vendor.

You can:
- move 'vendor' directory up one level ( under istio.io ), so bazel is less
confused
- use go tools to build
- use bazel with an explicit target  (bazel build //pilot/... //mixer/... )

On Mon, Dec 11, 2017 at 9:48 PM, Charles Moulliard <notifications@github.com

[2017-12-12 15:00] cmoulliard commented on #94
bazel fails too if I try to build pilot by example

[code]

What is the syntax to be used to build pilot, mixer, ... using go ?

[2017-12-12 22:47] ldemailly commented on #124
that's a great/creative workaround, thanks !

for now, I'm going to close this in favor of the issues mentioned above https://github.com/istio/istio/issues/1076 ,...

[2017-12-12 22:47] #124 closed

[2017-12-13 16:46] osowski opened #135 "Mixer metric and rule definitions disappeared from functioning deployment"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics): Yes

**Bug:**
Y/N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
`kubectl apply -f install/kubernetes/istio.yaml`

[2017-12-13 16:49] linsun commented on #135
I'm very sure this is exactly what I hit in Oct and discussed on #general and #mixer channels.  The workaround is reinstall mixer which is not pretty.

@douglas-reid @jmuk thoughts?  Is there anything we should be collecting to help debug this?

[2017-12-13 23:25] jmuk commented on #135
Did you happen to use `istioctl delete` to delete some mixer configs? There is a silly bug on `istioctl` which deletes unrelated config entities. If so, that's the case.

We fixed this bug on master. Until the next version is released, please use `kubectl delete` for the time being. Sorry.

[2017-12-14 01:54] ldemailly commented on #135
@jmuk thanks ! what's the commit/pr so people can check which build would have the fix (also curious what the bug was)

[2017-12-14 02:20] linsun commented on #135
also interested in knowing if this is fixed in 0.3 since i have a 0.3 env.

@osowski see above ^^

[2017-12-14 03:17] vadimeisenbergibm commented on #121
@vbtnickn I create a StatefulSet example to test the issue - https://github.com/vadimeisenbergibm/KubernetesStatefulSetExample.

It works for me on Minikube, with kubernetes 1.8.0. Istio sidecar is injected successfully and the example works.

You may want to try it in your environment and see if it works.

[2017-12-14 04:04] vadimeisenbergibm commented on #121
@vbtnickn I reproduced the problem on Minikube with kubernetes 1.7.5. It seems that in kubernetes prior to 1.8.0 it is not possible to inject sidecars into StatefulSets.

[2017-12-15 07:11] kubebc opened #136 "trying istio-0.3.0, Error: could not read valid configmap "istio" from namespace "istio- system": failed to convert to proto."
Hi, team,
When i'm trying istio-0.3.0, get an error. Any tips? Thanks!

$ kubectl apply -f <(istioctl kube-inject -f myservice.yaml)
[code]
But I checked, configmap is right there in namespace  "istio-system"

$ kubectl get configmap -n istio-system
[code]
FYI, what i've done before that
[code]

[2017-12-15 14:12] rfevang commented on #132
Had the same problem, with the pod reporting Bad HTTP/0.9. Removing mutual TLS by adding
[code]
to the service made the problem go away. Used istio 0.3.0.

[2017-12-18 15:40] meinenec commented on #136
Hey @kubebc, I had the same problem. Discovered that I had 0.3.0 installed in my cluster but 0.2.12 running locally.

You can run `istioctl version` to get your running version.

[2017-12-18 17:08] meinenec opened #137 "Istio-Pilot not validating ingress yaml"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
Incorrectly formatted ingr

[2017-12-18 17:59] jmuk commented on #137
@ayj can you take a look?

[2017-12-18 19:04] jmuk commented on #137
I've heard @ayj is off today; first, please remove that config with `kubectl`, like `kubectl delete simple-ingress`, then fix the config and then recreate it. I think the problem is parsing incorrect data, correctly it would be:
[code]

Apparently crash-loop is a bug. Filed https://github.com/istio/istio/issues/2226 too.

[2017-12-18 19:47] meinenec commented on #137
@jmuk I was able to resolve the problem previously following those steps. I just wanted to report the bug. I believe https://github.com/istio/istio/issues/2226 achieves this.

Thank you!

[2017-12-19 17:49] kdillane opened #138 "istio_ca causes latency/5xx problems"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
I did review open issues and did not find this one called out.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
0.2.12

[code]

**Is Istio Auth en

[2017-12-19 17:49] kdillane commented on #138
Original issue: https://github.com/istio/istio/issues/2090

[2017-12-20 01:56] danehans opened #139 "updateVersion.sh fails to build manifests"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes

**Bug:**
Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
enabled

**What happened**:
Following the [dev g

[2017-12-20 15:16] georgeharley opened #140 "Circuit breaker does not appear to work"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
The cluster is running on GKE and was installed using the Istio GKE Deployment Manager.

*

[2017-12-20 18:28] georgeharley commented on #140
After making a change to the destination policy so that the `httpDetectionInterval` is 10 seconds rather than 1 second I believe there is evidence that circuit breaking is going on. The evidence comes from analysis of a serviceB pod's Envoy proxy log which shows no further requests being handled after it was made to return a 500 error (via the cookie mechanism described in the previous comment). O

[2017-12-20 19:08] danehans opened #141 "unknown flag --port for sidecar initializer"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
En

[2017-12-20 20:36] sdake commented on #139
Works for me on master (https://github.com/istio/istio/commit/cbe5f07d87e8b440d0c5e427394482c59ed8fa2c)

can you paste the output of
[code]

It is necessary to set both the TAG and HUB as per dev guide: https://github.com/sdake/istio/blob/master/DEV-GUIDE.md#setting-up-environment-variables

Cheers,
-steve

[2017-12-20 21:23] danehans commented on #139
Here are the details of my environment:
[code]

[code]

[code]

[2017-12-20 21:28] #141 closed

[2017-12-20 22:33] sdake commented on #139
I thought perhaps it was because you are running MacOS to execute your workflow the problem occurred.  Here is what I get on MacOS:

[code]

one thing I noticed is you have a "code" in your path above.  It really looks like there is no /Users/daneyonhansen/code/go/src/istio.io/istio directory tree.  Can you validate that you have this directory and did you set GOROOT or some other GO related envir

[2017-12-21 04:01] sdake commented on #139
I've found the root cause of this issue.  POSIX does not specify -i for the sed operation.  Darwin and GNU sed have different semantics with regard to in-place editing.  The code in question checks if it is running on Darwin, and if so, uses MacOSX semantics.  This wouldn't necessarily be a problem, but I suspect your running homebrew (which pulls in GNU sed).

Can you please indicate if you are r

[2017-12-21 05:46] danehans commented on #139
I am, I used Homebrew to install Bazel.

[2017-12-22 21:19] john-a-joyce opened #142 "Unable to run coverage locally"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

Istio not deployed
cloned from master:
master/commit 74d2c80c7f0bf7ff5135b4ae0a34e500fbb511f

[2017-12-25 09:09] ziqingzhu opened #143 "Istio envoy (in pilot pod?) crash"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
NO

**What happened**:
Istio pilot crash,  here is

[2017-12-25 11:06] vadimeisenbergibm commented on #132
I had this problem with minikube when the resources of my Mac were limited. I restarted the Mac and received 200.
[code]

minikube command:
`minikube start  --extra-config=apiserver.Admission.PluginNames="Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,GenericAdmissionWebhook,ResourceQuota"`

kubectl commands:
[code]

[2017-12-27 03:12] kubebc opened #144 "Do you have Istio 0.4 special requirements list"
Hi, Team,
Do you have an Istio 0.4 special requirement list? like

1. Service ports must be named, name: http are valid port names (Is this for "kind: Service" only, or any port related definition?)
2. Istio does not support ingress.kubernetes.io annotations in the ingress resource specifications. Any annotation other than kubernetes.io/ingress.class: istio will be ignored.
3. “kind: Deployment“ m

[2017-12-27 10:08] Xiphin opened #145 "Install with docker-compose In Ubuntu 16.04.3 LTS (Oracle VM VirtualBox 5.2.4 r119785 (Qt5.6.2))"
**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
not

**What happened**:
istio/pilot:0.4.0 can not start

**What you expected to happen**:
Istio pilot would normal start

**Describe the feature:**
Is very similar to #92
docker logs consul_pilot_1:
[code]

[2017-12-28 08:59] #145 closed

[2017-12-28 16:55] AssafShaikevich commented on #50
Hi , We  are also would like this feature , any update?

[2017-12-28 17:25] ldemailly commented on #50
mesh expansion is an example - basically you just need a cert signed by the istio CA

cc @wattli

[2018-01-02 03:32] minghsieh-prenetics opened #146 "Minikube create istio-initializer failure"
**Is this a BUG or FEATURE REQUEST?:**

Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

Yes

**Bug:**

Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**

See below:
[code]

**What happened**:

Istio.y

[2018-01-02 14:22] minghsieh-prenetics commented on #146
I resolved it myself with this minikube start command:

`minikube start --memory 8192 --cpus 4  --kubernetes-version v1.8.6  --bootstrapper kubeadm  --vm-driver=virtualbox  --v 7  --logtostderr  --feature-gates=AllAlpha=true  --extra-config=apiserver.runtime-config="api/all=true,admissionregistration.k8s.io/v1alpha1=true"`

[2018-01-02 14:22] #146 closed

[2018-01-02 15:35] markvincze opened #147 "Pod not accessible for the liveness probe, constant Envoy "unknown cluster" errors"
**Is this a BUG or FEATURE REQUEST?:** Bug (I guess? Although of course it's possible that I have something misconfigured)

**Did you review existing epics or issues to identify if this already being worked on?**: Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**: I'm depl

[2018-01-03 12:31] JasmithaMeka opened #148 "Istio api to inject envoy into pods instead of istio command line"
**Is this a BUG or FEATURE REQUEST?:**
NEED HELP

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Y

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml...

[2018-01-03 14:35] markvincze commented on #128
Hey @Morriz,

Did you find out anything about this issue? I'm seeing the same `upstream connect error or disconnect/reset before headers` error when deploying bookinfo to a k8s cluster run on GKE.

[2018-01-03 17:28] ayj commented on #148
`kube-inject` is purely a client-side function. There is no server-side callable API for injection. The `istio` ConfigMap is only accessed to retrieve some mesh-level configuration.

See https://istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection for how we do handle server-side injection.

[2018-01-03 18:32] theganyo opened #149 "minor native build issues"
A couple of very minor issues I ran into with the master build after pulling today:

1. The build requires “dep” but doesn’t install it itself or list it in the dependencies.
2. Gopkg.lock is changed during build
3. security/docker/ca-certificates.tgz is created during build and not ignored

I’d be happy to submit a PR for necessary changes, but wanted verify potential solutions first:

1. Add pre

[2018-01-03 23:42] terinjokes opened #150 "unable to connect to in-mesh TCP ports using pod ip directly"
**Is this a BUG or FEATURE REQUEST?:**

BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

Y

**Bug:**

I'm unable to connect to generic in-mesh TCP ports.

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
Istio version: 0.4, installed from

[2018-01-04 05:29] JasmithaMeka commented on #148
Hi Ayj, Thanks for the quick reply

I want to inject envoy from my Go application. Thats why I was asking about API. If possible could you send a snippet that is triggered (on execution of ```istioctl kube-inject -f finename.yaml ```) which calls function that injects envoy? Is there any other way to inject from an application if not to do it automatically or using Istio command line ?

[2018-01-04 17:03] ayj commented on #148
Injection appends additional containers and volumes to the pod template spec. The code for this is in [intoObject](https://github.com/istio/istio/blob/d8a09e015c2824da01b38e74f6b75074475c9a34/pilot/platform/kube/inject/inject.go#L493) and [injectIntoSpec](https://github.com/istio/istio/blob/d8a09e015c2824da01b38e74f6b75074475c9a34/pilot/platform/kube/inject/inject.go#L325). This could be refactore

[2018-01-04 19:20] kidiyoor commented on #124
Service aliases/meta service doesn't quite seem to solve this problem.

Reopening this issue in istio/istio repo - https://github.com/istio/istio/issues/2422 for further discussion.

[2018-01-04 22:09] rlguarino commented on #87
The documentation added in https://github.com/istio/istio.github.io/pull/656 seems to have disappeared in a recent update to the site. Was that intentional?

[2018-01-04 22:37] rshriram commented on #87
We don;t need the workarounds anymore. We fixed the bugs that prevented gRPC requests with dots in the path from being proxied.

[2018-01-04 22:48] rlguarino commented on #87
Really?! That's awesome new. But I'm not having luck specifying a path. I'm getting 404 from Ingress when I use a path but it works if I remove the path entirely. Do I need to escape the `.` somehow?

[2018-01-04 23:16] rlguarino commented on #87
Nevermind, that was my fault. It's working as intended!

Thanks for the great work.

--RG

On Thu, Jan 4, 2018 at 2:37 PM Shriram Rajagopalan <notifications@github.com>
wrote:

[2018-01-05 05:18] JasmithaMeka commented on #148
Idea is to inject side cars using my custom GoLang program. If I execute command using code, I wont be sure if it is executed successfully or not. Yes, I can take response and check but Im just wondering if there is any other way to do it.

[2018-01-05 09:44] luisyonaldo opened #151 "Install all components using only helm install without the need of any external script"
**FEATURE REQUEST**

**Bug:**
N

**Feature Request:**
Y

**Describe the feature:**
In other to install helm charts you nee to run `deployIstioHelmCharts.sh` which for me breaks the hole idea of using helm (stop using scripts and just one single tool).

The reason to use a script is because CRD need to be installed before installing the other resources that depend on them, but this is possible to d

[2018-01-05 18:56] john-a-joyce commented on #142
I tried this again on master from today 1/5/2018 and don't see the issue.   There are still a few issues in the dev guide:  Missing symlink to .kube/config and "make cov" should be "make coverage" but the specific symptoms noted in this issue are no longer present.   The issue can be closed.

[2018-01-05 18:56] #142 closed

[2018-01-05 22:10] kbalbi opened #152 "Pod becomes unreachable after istio installation."
**Is this a BUG or FEATURE REQUEST?:**
I do not know is this a bug or mis-configuration. I doubt mis-configuration because I did not do any customization just installed the istio with the standard yaml mentioned in the site (istio.io).

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

This looks similar to t

[2018-01-05 22:19] rlguarino opened #153 "Where should new issues be created?"
Should we be creating issues here or in https://github.com/istio/istio/issues ?

My  understanding was that this Repo was needed because there used to be separate repositories for each component. Now that they are in one Repo can this repository go away?

[2018-01-06 08:52] ldemailly commented on #153
here. the istio repo is for triaged/confirmed issues

[2018-01-06 14:47] luisyonaldo commented on #151
https://github.com/istio/istio/pull/2461#issuecomment-355751318

[2018-01-07 19:30] ldemailly commented on #150
you have to use the release file, not the source tree at the tag (the yaml in source tree were stale, now removed)

[2018-01-07 22:28] hollinwilkins opened #155 "Disable logging/tracing for certain endpoints"
**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes, could not see anything immediately apparent.

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
It is not enabled

[2018-01-07 23:28] terinjokes commented on #150
@ldemailly Thanks. That change wasn't clearly communicated. Thanks for removing the files. I'll close this if using the release templates resolves the issue.

[2018-01-08 00:06] terinjokes commented on #150
@ldemailly There's no differences between what's in the 0.4 tarballs and what was in the repositories at the 0.4 tag.

[2018-01-08 00:16] ldemailly commented on #150
Ah you're right, somehow 0.4.0 was patched up
unlike https://github.com/istio/istio/blob/0.3.0/install/kubernetes/istio.yaml#L261
for instance

but where did you get istioctl from ?
can you do
[code]
as well as
[code]

[2018-01-08 00:20] terinjokes commented on #150
I'm not using istioctl, I'm using the auto-injection initializer.

[2018-01-08 00:28] ldemailly commented on #150
can you paste the output of
[code]

[2018-01-08 18:56] terinjokes commented on #150
[code]

[2018-01-08 19:27] ldemailly commented on #150
somehow you have a bunch of 0.2.12 left

did you upgrade from 0.2.12 ? it seems like the upgrade didn't work

if you check which pods do have 0.2.12 and redeploy those, it should help

about NodePort specifically though, you need to use the svcIp, you can't use the nodeIp directly, is that how you connect ?

[2018-01-08 19:34] terinjokes commented on #150
@ldemailly We're creating a new service and new deployments, so 0.2.12 sidecars shouldn't be part of the problem (the new deployments are getting 0.4 sidecars). We're rotating the remaining deployments, so that should clear up soon.

I'm attempting to connect to the Kubernetes Service IP created from a type: NodePort service.

[2018-01-08 19:44] ldemailly commented on #150
I assume you do have auth/mtls on ? any details on how it fails ? (connection closed ? hangs ? ...)

[2018-01-08 19:47] ldemailly commented on #150
I haven't personally tested TCP NodePort, though I believe it should work - can you try a regular TCP service first ? (that works and I personally tested it and we have the mysql/mongodb regression tests for those)
https://github.com/istio/istio/blob/master/samples/bookinfo/kube/bookinfo-mysql.yaml

[2018-01-09 00:11] terinjokes commented on #150
@ldemailly My apologies, I see where some of the confusion here is coming from. On Friday I said "A NodePort service was created" when I meant "A ClusterIP service was created". I've corrected the issue.

[2018-01-09 02:32] terinjokes commented on #150
@ldemailly It seems in this case, the multiple parts of the service are communicating over the Kubernetes Service IP long enough to exchange direct IP addresses. They then switch to attempting to connect directly.

My guess, since istio_proxy is silent, is that mTLS can't be established properly, and a proxy somewhere closes the connection.

Is mTLS supposed to handle this case?

[2018-01-09 02:39] ldemailly commented on #150
when you have the proxy injected all inbound traffic goes to the proxy

when you have mtls enabled, all traffic must present a certificate - and the outbound envoy capture makes it happen

but if you use the podip directly, instead of the clusterip, that traffic isn't processed properly as envoy looks at services (cluster ips)

[2018-01-09 02:43] terinjokes commented on #150
@ldemailly Yeah, that's the behavior we assumed and feared. :frowning:

Unfortunately, this is behavior of the application we can't control. It will always attempt to switch to the pod IPs.

[2018-01-09 02:49] ldemailly commented on #150
how does it even know the podip ? maybe you can make whoever says that ip believe the pod's ip is the cluster ip ?

alternatively I think it should be possible to configure envoy to mtls secure pod-pod traffic within a k8s cluster maybe we can turn this into a feature request for pilot

@kyessenov, thoughts ? (and did I get the above mostly correct?)

[2018-01-09 02:53] terinjokes commented on #150
@ldemailly The services use the service IP to coordinate, and part of that coordination is the pod IP.

In fancier terms: the application has a master election over the service IP, and then they attempt to connect to the elected master's IP address.

The service will only announce an IP address if it can bind to it, and the pod doesn't have the service's IP address in the network namespace.

[2018-01-09 11:09] metacosm opened #156 "Inconsistent naming in istio.io/api/mixer/v1/config/client"
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes.

**Bug:**
Possibly :)

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
From https://github.com/istio/api/blob/master/mixer/v1/config/client/api_spec.pb.go, both HTTPAPISpec (and consort) and HttpClientConfig are defined. Is

[2018-01-09 19:08] hollinwilkins opened #157 "TCP connections stop working with too many injected sidecars"
**Is this a BUG or FEATURE REQUEST?:**
This is a bug

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
YES

**Bug:**
YES

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

istioctl - 0.4.0
kubectl - 1.8.4.gke0

**Is Istio Auth enabled or not ?**
Did you install istio.yaml

[2018-01-09 20:15] metacosm opened #158 "Incorrect package name in mesh.v1alpha1.config.proto"
**Bug:**
Yes

https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L19 package name is istio.mesh.**v1apha1** but should be istio.mesh.**v1alpha1**

[2018-01-09 20:18] kyessenov commented on #158
/assign @rshriram
the package name is overridden during proto compilation, so the bug has no effect, but should be cleaned up nevertheless.

[2018-01-09 20:22] kyessenov commented on #156
Thanks for catching that.
I suggest we follow https://github.com/envoyproxy/data-plane-api/blob/master/STYLE.md and rename `HTTPAPISpec` to `HttpApiSpec`.

[2018-01-09 21:01] kyessenov commented on #150
I don't think we support mixed-case like this that uses both service VIP and pod IPs.
For pure VIP case, we don't create separate TCP routes per each pod, as that has a potential to blow up the routing tables.
For pure pod IP case (called headless), we require that the service port be chosen as unique in the cluster. A route is created for that port (0.0.0.0:PORT) that lets traffic go passthrough.

[2018-01-09 21:10] terinjokes commented on #150
@kyessenov It would be great if we could come up with something to opt-in handling mixed cases like this: where only some subset of pods needs be mixed, and thus not every pod in the cluster needs the routing rule. One of our motivations for our move to Kubernetes is to avoid needing to allocate cluster-unique ports.

In the short-term, having the service working with some caveat is better than no

[2018-01-09 21:59] metacosm opened #159 "Duplicated StringMatch message"
**Bug:**
Possible

StringMatch is defined at https://github.com/istio/api/blob/master/mixer/v1/config/client/quota.proto#L83 and https://github.com/istio/api/blob/master/routing/v1alpha1/route_rule.proto#L363

[2018-01-09 22:00] metacosm commented on #158
Agreed.

[2018-01-09 22:00] metacosm commented on #156
Note that this isn't the only case of inconsistent naming. There are several such occurrences.

[2018-01-09 22:24] kyessenov commented on #156
Yes, we're revising APIs. This particular group is in alpha stage, so clearly needs some work to become consistent with the rest of istio.

[2018-01-10 05:47] JasmithaMeka opened #160 "Prerequisites to get trace details from java application (spring bootstrap) to Zipkins"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
N.  Query

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
installed istio.yaml

**What happened**:

Hi, I'm trying to understand prereq

[2018-01-10 11:54] objectiser commented on #160
Did you deploy zipkin in the istio-system namespace? Have you tried tracing the bookinfo example and seen it working?

In Istio, the responsibility for creating tracing data for inbound and outbound requests is handled by the Envoy proxy. So the envoy proxy layer will create the trace (spans) and associated trace context (i.e. the headers you mentioned) that will be passed into the invoked service

[2018-01-10 15:36] hollinwilkins commented on #157
I''m seeing this may be an issue with CPU usage. As I increase the number of istio-injected sidecars, the istio-proxy sidecars start to take more and more CPU (25% on average).

[2018-01-11 04:35] JasmithaMeka commented on #160
Hi Gary Brown,

Thanks a lot for reply. Yes Zipkins is deployed in istio-system namespace and I could see metrics for book Info which is deployed default namespace.

I've deployed branch code you have refered as two Microservices in K8s with Istio. It is giving metrics.

Please correct me If I misunderstood. Here AccountMgrApplication, AccountMgrController, OrderMgrApplication and OrderMgrControll

[2018-01-11 05:02] JasmithaMeka commented on #160
Is it like envoy sets trace context for each request entering a pod (say A). By propagating those headers to other pod (say B) along the request, We are overriding trace context generated by Envoy for request entering pod B?

[2018-01-11 10:03] objectiser commented on #160
Hi @JasmithaMeka

So just to be clear, you deployed the services in the branch I referenced, and you were able to see traces in the zipkin UI?

If you look at the master branch of the example I referred to, you will see that it does not have code to instantiate the Tracer bean. This is because it uses a [TracerResolver](https://github.com/opentracing-contrib/java-tracerresolver) mechanism, that ca

[2018-01-11 17:54] hollinwilkins commented on #157
Update here, I see there is an issue that is probably the cause of this: https://github.com/istio/istio/issues/1485

[2018-01-11 19:55] rlguarino commented on #150
Is this something that will be addressed in future releases of Istio? I'm trying to get Prometheus to work and having a tough time without disabling MTLS.

[2018-01-12 04:48] JasmithaMeka commented on #160
Hi @objectiser

Yes. I have deployed the services in the istio-zipkin branch and I was able to see the metrics. Right now I'm working on only Zipkins not on Jaeger.

Thanks for the explanation. It is very helpful. I have modified some part of your code. I have removed MetricConfiguration class.   I have passed headers from order to account (The way it was in BookInfo) I could not see traces.

Snip

[2018-01-12 08:53] ldemailly opened #161 "Running Istio on Docker for Mac with kubernetes"
@carlskii commented on [Thu Jan 11 2018](https://github.com/istio/community/issues/27)

Hi I just installed Istio using Docker for Mac with kubernetes. Everything seems to be running, however  is running.
<img width="1064" alt="istio" src="https://user-images.githubusercontent.com/555399/34833976-a6d098fe-f6e8-11e7-9fc4-5ca9c3db33a3.png">

However, my load-balancers external address is set to <pen

[2018-01-12 09:06] markvincze opened #162 "BookInfo doesn't work in large k8s environments"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
I installed the BookInfo sample on our GKE cluster in

[2018-01-12 09:38] markvincze commented on #162
Update: after ~1 hour, the productpage can be opened again in the browser, but still displays the errors about fetching the details and the reviews. And the logs have the following couple of new lines.

[code]

[2018-01-12 10:28] objectiser commented on #160
Hi,

From the changes you have described, I can't see why you are not getting any traces (even just from the inbound requests to the proxy) - but if tracing wasn't enabled, that would account for why you are not seeing headers in the app.

Could you submit you changes as a PR on the example repo, and I'll take a look.

[2018-01-12 11:15] JasmithaMeka commented on #160
Hi, I have submitted.

[2018-01-12 11:18] objectiser commented on #160
Thanks - but why have you submitted every small change as a separate PR? Can you create a single PR that has all of the changes?

[2018-01-12 11:57] JasmithaMeka commented on #160
Hi, I have created a new branch in your repository and committed changes there but when I'm trying to push it, I'm getting below error

remote: Permission to objectiser/opentracing-prometheus-example.git denied to JasmithaMeka.
fatal: unable to access 'https://github.com/objectiser/opentracing-prometheus-example.git/': The requested URL returned error: 403

Please suggest

[2018-01-12 12:09] objectiser commented on #160
You need to fork the repo and create the branch in your own repo - and then submit the PR from there.

[2018-01-12 12:23] zinuga commented on #147
@ayj can you take a look?

[2018-01-13 01:07] ayj commented on #147
I'm assuming this problem doesn't occur with liveliness probes disabled?

Can you describe your setup (e.g. mixer enabled, (no)auth) and how your k8s liveliness probes and service port/paths are configured? There are some combinations that are fully supported yet, e.g. https://github.com/istio/istio/blob/5976c82337a6216effb208b56f48920dae97210f/pilot/proxy/envoy/config.go#L1018.

[2018-01-13 01:33] ayj commented on #162
Can you capture logs of the discovery container for `istio-pilot`?  The full list of lds/rds/cds/sds from Pilot when the problem occurs would also be useful. You can use https://github.com/istio/istio/blob/master/bin/istio-proxy-cfg to capture that data.

[2018-01-13 05:49] meelody commented on #145
I met the same problem, how did you solve it?

[2018-01-13 09:48] Xiphin commented on #145
@meelody
Add https://github.com/istio/istio/blob/master/install/consul/kubeconfig
into your path/istio/install/consul/

[2018-01-13 10:38] meelody commented on #145
@Xiphin 太感谢了。 我弄了挺久了。你是怎么发现这个解决办法的呢，是有文档吗。  另外你是在用istio吗。

[2018-01-13 15:41] meelody commented on #34
@bjartek   I have this problem now, how can I solve it quickly?

[2018-01-13 15:49] bjartek commented on #34
You neee to add privileged=true to both init containers.

Do you have time to do what Clayton suggests above? That is run audit2allow?

[2018-01-13 16:13] meelody commented on #34
@bjartek  Thank you very much for your reply. I have just come into contact with this aspect. Could you please tell me where the "init containers" is? I'm a MAC.

[2018-01-13 16:21] bjartek commented on #34
When you run istoctl inject it will modify the resource you send into it. If you are on OpenShift this is most likely your DeploymentConfig. Try to look at the top of the generered DC.

If you tell me what DOC/tutorial you are following it might be easier for me and others to help.

[2018-01-13 16:35] meelody commented on #34
@bjartek  I'm studying istio through this document: https://istio.io/docs/setup/consul/quick-start.html.
I have arrived at this step.：“docker-compose -f samples/bookinfo/consul/bookinfo.sidecars.yaml up -d”，but istio/proxy_init:0.4.0 status is "Exited",when I type in the 'docker ps -a' command.
This shows "iptables: Chain already exists." when I type in the 'docker logs' command.
I have been puzzl

[2018-01-13 17:10] bjartek commented on #34
I can try to run the guide later today. What os are you on? Is selinux enabled?

[2018-01-13 17:15] meelody commented on #34
@bjartek  I am a MAC OS X. I'm using the docker Community Edition. thank you.

[2018-01-14 18:03] meelody commented on #34
@bjartek    You can't start the first step, because it will be wrong:
`Error loading config file "/etc/istio/config/kubeconfig":
read /etc/istio/config/kubeconfig: is a directory`
Need to add this file to  "path/install/consul/kubeconfig" on the mac.

The question that I asked you before is finally solved today.The reason is that my iptables is occupied by other images. It's true, as you say, not

[2018-01-15 01:25] Xiphin commented on #145
@meelody 没有，只是学习研究，还不成熟

[2018-01-15 07:34] eoftedal commented on #125
I've been looking at something similar to this. I've created a Root CA and two intermediate CAs. I gave one of the intermediate CAs to isitio, and then used the other CA for issuing client certs to external applications. From istios side this works like a charm, as long as I put spiffe-identifiers in the client certificates. I can use the mixer access control rules etc.
The only problem I have lef

[2018-01-15 10:21] AssafShaikevich commented on #50
@ldemailly mesh expansion examples seems to be focusing on external vms , but will it work with external kubernetes cluster ?

[2018-01-15 19:42] cjremshaw commented on #140
I encountered this as well with httpMaxEjectionPercent set to 100 and using istio-0.4.0:

[code]

Reloading as user "failme" multiple times (which shows no ratings and should trigger the circuit breaker) has no effect once logged out, and ratings continue to show. Expect that ratings would NOT show for logged-out user for 5m

[2018-01-15 20:27] georgeharley commented on #140
@cjremshaw I wonder if what we have separately seen relates to Envoy's [panic threshold](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing.html#panic-threshold)?

[2018-01-16 01:49] ldemailly commented on #50
multiple clusters support is in the works for 1.0
you can probably achieve it in the same way as vm expension in the meantime

[2018-01-16 09:31] markvincze commented on #147
Hi @ayj,

The setup of the istio installation is pretty standard, it's a Kubernetes cluster on GKE, and istio is installed with the official installer with default configuration to the `istio-system` namespace, without auth. @JorritSalverda, anything else special that comes to mind?

The sidecar is injected with `istioctl`.

Including the sidecar, the pod has 3 containers:
1. `myservice`: our actu

[2018-01-16 09:42] eoftedal opened #163 "istio-ca-istio-system lacks delete rights for secrets"
**Bug**

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Yes

**What happened**:
istio-ca-istio-system does not have delete rights for secrets in other namespaces:
https://github.com/istio/istio/blob/release-0.4.0/install/kubernetes/istio-auth.yaml#L86
However the secret-controller in the CA expec

[2018-01-16 09:47] eoftedal opened #164 "istio-ca-istio-system cannot delete secrets even if rights are fixed"
**Bug**

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
yes

**What happened**:
This is related to https://github.com/istio/issues/issues/163
When I fixed the missing delete secret permission for `system:serviceaccount:istio-system:istio-ca-service-account`, it still cannot delete secrets.
https:

[2018-01-16 10:24] markvincze commented on #162
I removed and redeployed the BookInfo sample (it's displaying the "upstream connect error or disconnect/reset before headers" error again), and captured the `istio-pilot` logs, uploaded here: https://gist.github.com/markvincze/c05b12209660b1432a6ff9063e62c502#file-istio-pilot_logs-txt
(the BookInfo pods were deployed at 10:16:00)

I'll try to collect the other info with `istio-proxy-cfg` too.

[2018-01-16 10:45] markvincze commented on #162
@ayj,

Could you give some more guidance about how I should use `istio-proxy-cfg`? Should I pass in the name of the `istio-pilot` pod, or one of the BookInfo pods?

I tried it a couple different ways, but I'm always getting the same error:

[code]

I checked, this is the IP of the `istio-pilot` service.

[code]

[2018-01-16 14:44] eoftedal opened #165 "Support XFCC and similar headers in calls from proxy to app pod"
**Feature Request:**
Y

**Describe the feature:**
Envoy has implemented support for forwarding information about the client cert to the application pod: https://github.com/envoyproxy/envoy/pull/1087
This should also be possible to configure for istio.

[2018-01-16 18:10] ayj commented on #162
By default `istio-proxy-cfg` assumes its run from within the cluster. You can use `kubectl port-forward` to access the `istio-pilot` service from your workstation, e.g.

[code]

You can then dump the xDS state from the perspective of a consuming pod. For example, the following captures what the productpage pod would see in the bookinfo sample.

[code]

[2018-01-16 21:31] terinjokes commented on #150
@kyessenov Do you mind expanding on your kafka example? I searched the issues in a couple Istio repos, and I haven't seem anything similar.

[2018-01-17 00:43] hollinwilkins commented on #157
Update: even with reduced CPU overhead, TCP services stop working with too many istiofied pods

[2018-01-17 01:28] vinaysinghbww opened #166 "Way to pass the config to kubernetes client which is already built"
**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: I didn't find the answer

**Bug:**
Y/N: N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
Kubernates client-go: v5.0.1
istio libraries - v0.4

**Is Istio Auth enabled or no

[2018-01-17 21:24] hollinwilkins commented on #157
Seems like 26 istiofied pods is the limit until TCP connections start being refused (presumably by envoy)

[2018-01-17 21:32] ayj commented on #147
The basic config above should work which I also verified in my test setup. The full k8s service and pod YAML would be good to verify port settings aren't conflicting. Outside of per-service/deployment configuration, this issue may be due to environmental factors (e.g total number of pods / services in the k8s cluster) that are contributing to overloading Pilot given default refresh interval. As yo

[2018-01-17 22:44] GnawNom commented on #140
I'm also encountering problems with circuit breaking. I have a similar setup, but A continually sends GET requests to B (which always returns 5xx). I'd expect "no healthy upstreams" to be returned after httpConsecutiveErrors are exhausted, but the 5xx still come through. I suspected it might be because I only have one pod in B's deployment, so I set httpMaxEjectionPercent = 100 but that doesn't se

[2018-01-17 23:00] GnawNom commented on #140
Hmm I was mistaken. It seems like the functionality is located under Outlier Detection: https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster_outlier_detection.html?highlight=outlier

[2018-01-18 08:41] citywander commented on #114
I have the same issue about bookinfo
### My environments:
[code]
the container istio-proxy of productdetail is crash randomly. If access the service, return code is 503. About more than 10m, the service is coming.
Another issue, if I killed reviews-v1 pod. In pagedetail view, you will get error status if traffice is route to reviews-v1 even though reviews-v1 pod is successful.
[code]

[2018-01-18 11:46] markvincze commented on #162
@ayj,
I did this, and after every `istio-proxy-cfg` command I see `curl` printing

[code]

And these were the outputs (in order):

[code]

[code]

[code]

[code]

It's interesting btw that if I try to `curl` any of these URLs, it says "Empty reply from server", but if I open them in the browser, they properly return some Json. Do you know what can cause this?

(Even if I send the exact request as

[2018-01-18 11:53] markvincze commented on #147
@ayj Regarding increasing `rdsRefreshDelay` and `discoveryRefreshDelay`: I can do this by changing the args of the `istio-proxy` sidecar, right?

[2018-01-18 12:10] markvincze commented on #147
@ayj I tried changing these in the `istio-proxy` args, I increased `discoveryRefreshDelay` (the other one gives "unknown flag: --rdsRefreshDelay"), but the liveness probe is still failing the same way.

[2018-01-18 15:18] eoftedal opened #167 "Support EC certificates in istio CA"
**Feature Request:**
Y

**Describe the feature:**
EC seems to be supported in the crypto module:
https://github.com/istio/istio/blob/850bc317fd867d04fd6ae23df8a73c20eaf9e604/security/pkg/pki/crypto.go#L25
However in the CA it apparently only supports RSA:
https://github.com/istio/istio/blob/850bc317fd867d04fd6ae23df8a73c20eaf9e604/security/pkg/pki/ca/generate_cert.go#L75
https://github.com/istio/i

[2018-01-18 18:23] ayj commented on #162
I'm not sure. You could try `curl -v`.

Can you copy the output from the browser into a [gist]( https://gist.github.com/) and link it here?

[2018-01-18 18:29] andraxylia commented on #138
Will follow up on istio/istio#2090

[2018-01-18 18:29] #138 closed

[2018-01-18 19:04] ayj commented on #147
`discoveryRefreshDelay` is the right flag.

How are the full service and pod port definitions defined?

[2018-01-19 14:12] emedina commented on #147
Let me step in because I'm facing exactly the same issues with my installation in local VMWare VM Servers. And I still don't get how it works, as I've changed the `rdsRefreshDelay` and `discoveryRefreshDelay` to 30s and still it takes around 5 minutes to fetch everything from the `istio-pilot`.

Even when I leave them with 1s, still it takes around 5m to fetch all the routes.

My expectation would

[2018-01-19 17:05] ayj commented on #147
A few things could be happening.

1) functional bug in liveliness/readiness probe configuration. Perhaps triggered by a conflict with existing service or container port in some unpredictable way. It could also be caused by  https://github.com/istio/istio/blob/c992106720b19a93ffbf3641913885fddd9c82e3/pilot/proxy/envoy/config.go#L1020.

// that the health check ports are distinct from the service po

[2018-01-19 17:05] emedina commented on #147
After some more research, I realized that if I send a bunch of Pod creations at the same time, for some reason it takes the aforementioned 5 minutes to sync up. But if I create the Pods one by one or at least with a 1s delay between them, then everything works like a charm.

Seems like `istio-pilot` gets somehow overwhelmed when getting several requests at the same time, whereas if the requests ar

[2018-01-19 19:31] nmittler commented on #147
@ldemailly are you aware of any perf testing that has been done for pilot to this point? It would be good to have something in place that we can track over time.

@emedina do you have a simple app handy that can replicate the problem?

[2018-01-19 21:06] ldemailly commented on #147
yes pilot is on the todo list though I've focused on the data path (envoy+mixer) so far.

I'm happy to show the tooling or discuss strategies and tactics for measuring and improving scalability with anyone that has time to volunteer

[2018-01-20 02:49] rvennam opened #168 "No metrics data in grafana"
**Is this a BUG or FEATURE REQUEST?:** Y

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Y

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** istio.yaml

**What happened**:
I followed the guide to install istio (no auth), b

[2018-01-20 02:53] rvennam commented on #168
[code]

[2018-01-20 03:21] linsun commented on #168
Looks like similar as reported earlier in https://github.com/istio/issues/issues/135, where the metrics/mixer related rules are gone.  cc @jmuk @douglas-reid @mandarjog @osowski

[2018-01-20 14:54] emedina commented on #147
Let me try to assemble something to share and get back to you, @nmittler

[2018-01-22 16:03] mdhume opened #169 "Frequent envoy proxy hot restarts in istio-proxy sidecar even when there is no configuration change"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y/N Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details** Istio 0.3.0 and Kubernetes 1.7.7
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.y

[2018-01-22 20:06] rvennam commented on #168
@linsun I reran istio install. The metrics were recreated and it's working now.

[code]

[2018-01-22 20:15] BarDweller opened #170 "Istio / Envoy returns 404 for invocations without a Host: header"
**Is this a BUG or FEATURE REQUEST?:** BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
Istio obtained via `curl -L https://git.io/getLatestIstio | sh -`
`istio.yaml` and `istio-initializer.yaml` applie

[2018-01-22 20:55] douglas-reid commented on #168
I believe this bug has been fixed before (an issue with a delete clearing out more than what was requested, iirc). @jmuk to confirm (and close, if so).

[2018-01-22 21:05] jmuk commented on #168
I fixed a bug by istio/istio#2033, which is I think included in 0.4.0 release. But the bug was to delete unrelated configs accidentally, so if the configs exist as the original report says, I don't think this is related to that bug or #135.

[2018-01-23 03:05] rvennam commented on #168
When installing istio on a fresh cluster, I'm seeing errors with metrics
[code]

[2018-01-23 05:11] jmuk commented on #168
What's the environment of kubernetes?  minikube?

The error message seems failing to install all mixer configs with those `no matches` errors, while their CRDs seem to be registered successfully. What will happen to make `kubectl apply -f istio.yaml` again?

[2018-01-23 05:56] rvennam commented on #168
This is kubernetes on IBM Container Service

[2018-01-23 07:46] citywander opened #171 "bookinfo is unstable in huge k8s environments"
**Is this a BUG or FEATURE REQUEST?:**BUG

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
installed istio.yaml

**What happened**:
We have a big k8s environments (2000+ pod

[2018-01-23 16:26] markvincze commented on #162
@ayj,

Strange, I tried it again, and now opening the URL in Chrome gives the same error, it says `ERR_EMPTY_RESPONSE`.

If I try to curl with `-v`, I see this:

[code]

(And in the other terminal I see the `Handling connection for 15003` message, so the port-forwarding seems to work.)

[2018-01-23 22:25] GnawNom commented on #140
@georgeharley I was able to find some stats related to outlier detection
[code]

`kubectl exec -ti --namespace=$NAMESPACE $POD_NAME -- curl localhost:15000/stats | grep outlier_detection`

[2018-01-24 06:34] lzyowen commented on #145
path/istio/install/consul/ 这个目录下面有一个kubeconfig 文件夹 如何再加一个kubeconfig文件？如果删除kubeconfig 文件夹并添加文件https://github.com/istio/istio/blob/master/install/consul/kubeconfig会报错说 /etc/istio/config/kubeconfig不是一个目录 请问怎么解决的？
我的版本也是istio-0.4.0 @Xiphin

[2018-01-24 07:04] Xiphin commented on #145
@lzyowen 把log贴出来看一下

[2018-01-24 07:11] lzyowen commented on #145
ERROR: logging before flag.Parse: E0124 06:08:49.609478       1 main.go:123] failed to create discovery service: failed to connect to Kubernetes API. Error loading config file "/etc/istio/config/kubeconfig": read /etc/istio/config/kubeconfig: is a directory
container_linux.go:247: starting container process caused "process_linux.go:359: container init caused \"rootfs_linux.go:54: mounting \\\"/hom

[2018-01-24 07:25] lzyowen commented on #145
下面的error log是加了文件https://github.com/istio/istio/blob/master/install/consul/kubeconfig 到istio/install/consul/
[code]

[2018-01-24 22:09] ayj commented on #162
This is likely due to a combination of factors.

1) https://github.com/istio/istio/issues/2554 - slower sidecar proxy startup time in larger clusters. This can be observed by inspecting logs on the productpage's `istio-proxy` container, e.g.

[code]

Note the ~3 minute delay during start-up. This _should_ be fixed in a more recent version of the proxy. You can try a pre-release build from http://g

[2018-01-24 22:10] ayj commented on #162
The above comment was in response to the original issue. The `istio-proxy-cfg` failures are likely due to #2 and #3 above.

[2018-01-24 22:52] #169 closed

[2018-01-25 17:32] ayj commented on #171
dup of https://github.com/istio/issues/issues/162.

[2018-01-25 17:32] #171 closed

[2018-01-25 19:53] Stono commented on #170
This might help you out btw https://github.com/istio/istio/issues/2833#issuecomment-360561220

[2018-01-26 01:52] tallclair opened #172 "Don't run istio-init as privileged"
I noticed that the injected `istio-init` InitContainer in Kubernetes runs as `privileged` and also adds the `NET_ADMIN` capability. `privileged` basically does 3 things:

1. Add all capabilities (so adding `NET_ADMIN` is redundant)
2. Run without a seccomp profile (i.e. `unconfined`) - this is the default in Kubernetes anyway
3. Run without apparmor (only applies to AppArmor enabled systems - I im

[2018-01-26 02:32] linsun commented on #172
Thank you for the analysis.  Unfortunately I don't have a 1.9 cluster to test this, I agree we should get rid of privileged asap if we could.   It is ridiculous to ask developers to have this level of security to deploy a micro service into Istio.

[2018-01-26 02:42] dcberg commented on #172
I agree. By enabling istio all pods have a privileged container access. In my opinion this opens a security risk to the cluster.

[2018-01-26 02:43] tallclair commented on #172
It's not quite that bad, since it's only run as an InitContainer, but it does make it a bit harder to use with a PodSecurityPolicy.

[2018-01-26 02:56] linsun commented on #172
@tallclair true it is not as bad as the istio proxy itself, which btw, we just switched to non debug proxy as the default as the debug proxy requires privileged.

This is only for init container and dies after the init, however, don't the user has to have permission to deploy privileged container in the first place to enable init container to run?

[2018-01-26 03:04] tallclair commented on #172
Yes, that's what I meant by "it does make it a bit harder to use with a PodSecurityPolicy" (PodSecurityPolicy is the control that restricts whether a user can create a privileged container). I did file an issue to address this usecase, feel free to chime in there: https://github.com/kubernetes/kubernetes/issues/55435

[2018-01-26 03:42] linsun commented on #172
Thanks @tallclair for the clarification, I think we are on the same page!

[2018-01-26 05:32] ldemailly commented on #172
NET_ADMIN is the one we really want, the full privileged was said to be necessary in some environment (which git blame may be able to track)

[2018-01-26 05:33] ldemailly commented on #170
envoy doesn't support http 1.0 and Host: is mandatory for http 1.1 and onward

[2018-01-26 06:39] sandylss commented on #102
hi
I also met the problem,can u tell me the details about how to resolve this error?
thank u~

[2018-01-26 13:02] sandylss opened #173 "The istio-ingress don't work well,so the bookinfo can't be curl"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes.I don't find some resolutions.
**Bug:**

Y
**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**

istio.yaml
**What happened**:
I can't access an

[2018-01-26 16:27] bgrant0607 commented on #172
I'd really like to avoid introducing more complexity into PodSecurityPolicy, if possible:
https://github.com/kubernetes/kubernetes/issues/55435

How hard would it be for the privileged initialization (iptables, presumably?) to be performed by a host agent (DaemonSet in Kubernetes), similar to kube-proxy?

[2018-01-26 16:43] ayj commented on #172
`NET_CAP_ADMIN` is sufficient on GKE for the InitContainer to program iptables. The proxy container doesn't require anything special. `privileged` was added to unblock depoyment on OpenShift w/SELINUX (see https://github.com/istio/issues/issues/34#issuecomment-308905920).

Does `NET_CAP_ADMIN` alone conflict with PodSecurityPolicy? Host agent is a possibility. We'd need to take care to (a) only pr

[2018-01-27 02:54] linsun commented on #172
NET_CAP_ADMIN is also sufficient on IBM Bluemix container service to program iptables.   cc @dcberg

At the moment, I think we should change the release version to remove privileged.  For platforms that requires privileged, debug config is always there and can work.

[2018-01-27 02:56] kyessenov commented on #172
Please include openshift folks before removing privileged flag.

On Fri, Jan 26, 2018, 6:54 PM Lin Sun <notifications@github.com> wrote:

[2018-01-27 03:03] linsun commented on #172
cc @christian-posta ^^

[2018-01-27 03:07] christian-posta commented on #172
cc @smarterclayton any pointers for the right folks here?

[2018-01-27 09:07] sandylss commented on #173
Now,I found the istio-ingress seems don't work well ,the logs like:

ERROR: logging before flag.Parse: I0127 08:50:49.113260       1 main.go:114] Error retrieving availability zone from pilot: Get http://istio-pilot:15003/v1/az/istio-ingress/ingress~~istio-ingress-7df7c46c7-vbw85.istio-system~istio-system.svc.cluster.local: dial tcp: i/o timeout
ERROR: logging before flag.Parse: I0127 08:50:49.113

[2018-01-29 14:26] rvrignaud opened #174 "Mismatch between zipkin-to-stackdriver service name and zipkin address in mixer"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

[code]

**Is Istio Auth enabled or not ?**
istio-ca enabled

**What happened**:
Can't use zipkin-to-stackdriver

[2018-01-29 18:51] smarterclayton commented on #172
Yes, pod security policy (when we turn it on) would block NET_CAP_ADMIN by default for almost all users.

[2018-01-29 18:55] smarterclayton commented on #172
All of these are terrible things to disable in order to accomplish something real :)  Giving NET_CAP_ADMIN is almost equivalent to root in the host - I don't think I'd have to think very hard to find an exploit path.

Turning these off are basically almost as bad as having privileged.  I don't want to completely derail istio, but if the outcome is "every user workload on the cluster runs a privile

[2018-01-29 19:06] smarterclayton commented on #172
(copied from the other thread)

I'm going to go and get more info from the kernel teams about whether we could safely grant NET_CAP_ADMIN in a network namespace and not have it be root on the host via some trivial path.  If so, we may be able to relax that restriction from SELinux in the default kernel policy.  No promises yet.

[2018-01-29 19:21] tallclair commented on #172
@smarterclayton - I agree with what you're saying, but I still think granting the individual privileges is prefered to the `privileged` catch-all. Even if it's effectively equivalent from a security perspective, explicitly listing the privileges makes it more clear what is actually being used by the container, which in turn makes it easier to remove or further restrict those privileges in the futu

[2018-01-30 03:05] sandylss commented on #152
I also have the same problem.Do anyone know what the problem is?

[2018-01-30 14:28] mdhume opened #175 "Expose option to specify concurrency (no. of threads) for envoy through pilot agent"
**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Feature Request:**
Y

**Describe the feature:**
From our observations we have seen that even when limits are added to the envoy sidecar in K8s, the number of threads it spawns is equal to the number of cores on the base host

[2018-01-30 14:43] mdhume opened #176 "Provide an easy way to trace which envoy version is being used in the proxy_debug and release docker images"
**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Feature Request:**
Y

**Describe the feature:**

Currently to figure out which envoy version is being used, one would need to trace back by using the docker SHA specified in the pilot repo to the git SHA in the proxy repo, to

[2018-01-30 14:51] mdhume opened #177 "Handling updates for ip ranges specified in the includeIPRanges parameter"
**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Feature Request:**
Y

**Describe the feature:**
Provide a safe way to update the ip range block provided to includeIPRanges so that running pods are able to pick up the change without breaking routing

[2018-01-30 21:39] dcberg commented on #172
I completely agree with @smarterclayton. We should be able to set NET_CAP_ADMIN without having to grant `privileged` for all pod deployments within the service mesh.

[2018-01-30 22:02] ldemailly commented on #172
just to recap, only 1 init container runs with NET_CAP_ADMIN during initialization not at all 'every user workload on the cluster runs a privileged'

[2018-01-31 08:28] #153 closed

[2018-01-31 09:40] #65 closed

[2018-01-31 09:56] #6 closed

[2018-01-31 10:02] #67 closed

[2018-01-31 10:03] sakshigoel12 commented on #69
https://istio.io/docs/tasks/traffic-management/circuit-breaking.html

[2018-01-31 10:03] #69 closed

[2018-01-31 10:05] #66 closed

[2018-01-31 14:41] rvrignaud opened #178 "Some files are missing in release archives"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
istio 0.5.0 release

**Is Istio Auth enabled or not ?**
N/A

**What happened**:
Tried to follow new https://istio.io/docs/setu

[2018-01-31 15:21] rvrignaud opened #179 "Can't run docker.io/istio/servicegraph:0.5.0 image"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
istio 0.5.0
kubernetes 1.9.1

**Is Istio Auth enabled or not ?**
Yes

**What happened**:
When installing `kubernetes/addons/se

[2018-01-31 20:05] raffaelespazzoli commented on #172
I'd like to propose a potential solution to this problem.

We could define a CRD that describes how connections should be routed in a pod.
These rules would be expressed in a technology agnostic manner, so that they could be implemented not only with iptables but with other means.
This CRD would also have a pod selector to specify which pods should get those rule.
The istio control plane would cre

[2018-02-01 09:51] metacosm opened #180 "Error in istio.io/api/mixer/v1/config/fixed_cfg.pb.go: unused import."
**Is this a BUG or FEATURE REQUEST?:**

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What happened**:
Trying to process the API, got the following error:

istio.io/api/mixer/v1/config/fixed_cfg.pb.go:22:8: imported and not used: "istio.io/api/vendor/github.com/golang/protobuf/ptypes/struct" as google_protobuf

**What

[2018-02-01 17:03] Stono commented on #51
Crosslinking: https://github.com/istio/istio/issues/3059

[2018-02-01 22:35] douglas-reid commented on #179
I can confirm that I'm seeing this issue as well with the docker.io images. @hklai ideas here?

[2018-02-01 22:59] douglas-reid commented on #179
I have a PR out to fix the first part of this problem: https://github.com/istio/istio/pull/3079

[2018-02-02 00:55] hklai commented on #179
Looking at http://gcsweb.istio.io/gcs/istio-prerelease/daily-build/, the servicegraph image size changed after 20180105. Seems to be related to the build system change.

[2018-02-02 00:56] jsw opened #181 "Support OpenCensus"
**Feature Request:**
Y

**Describe the feature:**
Support [OpenCensus](http://opencensus.io/)

There is discussion that it's being investigated, so I thought it would be useful to track it here
https://groups.google.com/d/topic/istio-users/0v3Q0SGVa4w/discussion

[2018-02-02 01:37] kornholi commented on #116
Fixed in https://github.com/istio/istio/pull/1748

[2018-02-02 01:37] #116 closed

[2018-02-02 11:24] my3sons opened #182 "Istio Proxy seems to be disregarding refresh delay settings"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
Y/N
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
istio.yaml (no auth)

**Wha

[2018-02-02 16:37] my3sons commented on #182
closing so I can move to istio/istio/issues

[2018-02-02 21:29] ldemailly commented on #178
fixed for next release, thanks for the report

[2018-02-02 21:29] #178 closed

[2018-02-03 22:32] chrisgoffinet opened #183 "Missing webhook-patch-ca-bundle.sh"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
istio.yaml

**What happened**:
When going through the guide about automatic s

[2018-02-05 10:32] jntakpe opened #184 "Unable to setup automatic sidecar injection. Webhook cannot read PEM data"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
Not enabled, just istio.yaml

*

[2018-02-05 11:09] mgtriffid opened #185 "Bookinfo example with Docker + Eureka doesn't work"
**Is this a BUG or FEATURE REQUEST?:**
I think it's a bug

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Reviewed, but couldn't find any clue.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Istio Auth not enabledm used

[2018-02-05 17:52] wbertelsen opened #186 "Segfault in when running pilot discovery with multiple registries"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
YES
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Auth Disabled

**What happened**:

I'm attempting to run pilot (0.5.0) using bo

[2018-02-05 22:13] #182 closed

[2018-02-06 08:03] zvikaga commented on #173
I'm also facing the same issue. The examples don't work here.
Is there any uesfull input here?
Thanks

[2018-02-06 18:19] andrewjjenkins opened #187 "RouteRules with regex against uri don't work, but do work for other headers"
**Is this a BUG or FEATURE REQUEST?:** Bug

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Y.

This is the closest issue but I don't think it is the same: https://github.com/istio/istio/issues/1375

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
istio 0.4.0, kube

[2018-02-06 18:27] andrewjjenkins commented on #187
Here are files that can be used to repro:

[myapp-foo-bar.yaml.txt](https://github.com/istio/issues/files/1700326/myapp-foo-bar.yaml.txt)
[rr-uri-regex.yaml.txt](https://github.com/istio/issues/files/1700327/rr-uri-regex.yaml.txt)
[rr-xheader-regex.yaml.txt](https://github.com/istio/issues/files/1700324/rr-xheader-regex.yaml.txt)

[2018-02-06 21:17] ayj commented on #183
dup of https://github.com/istio/istio/issues/3030

[2018-02-06 21:17] #183 closed

[2018-02-06 21:29] ayj commented on #184
Minikube doesn't start the cert controller manage by default. @cmluciano recently updated the prerequisite instructions for minikube [here](https://istio.io/docs/setup/kubernetes/sidecar-injection.html#minikube).

There could also be an race issue with cert approval vs. signing that should be fixed by https://github.com/istio/istio/pull/3123.

[2018-02-07 08:15] Dadabhvai-Kashyap opened #188 "SSL issue with Istio enabled microservice using EgressRules. SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number"
**Is this a BUG or FEATURE REQUEST?:**
I think it is a bug
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
yes, no solved
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

**istioctl version**
[code]
**kubectl version**
[code]

**Is Istio Auth enabled or not ?**
Did

[2018-02-07 08:43] vadimeisenbergibm commented on #188
@Dadabhvai-Kashyap Please note that the app must issue an HTTP request to nodeapp.mydomain.in:3000. The Istio sidecar proxy (Envoy) will open HTTPS request  tonodeapp.mydomain.in:3000.

To read more about it - see https://istio.io/blog/2018/egress-https.html#tls-origination-by-istio.

[2018-02-07 09:02] Dadabhvai-Kashyap commented on #188
@vadimeisenbergibm Is there any plans in the roadmap, to enable https request and make this more transparent in future? For now it looks like a workaround and not a production-ready feature

[2018-02-07 09:24] vadimeisenbergibm commented on #188
@Dadabhvai-Kashyap We are considering various options. I would like to hear your feedback -  what would be your expectation - how would you like Istio to handle it? If the application opens an HTTPS connection, the Envoy can only see opaque TCP (everything is encrypted), plus maybe SNI. We plan to support routing based on SNI, depending on https://github.com/envoyproxy/envoy/issues/1843.

Note tha

[2018-02-07 11:30] SUNSAHAR20 commented on #173
Even I'm facing the same issue. Is it a bug due to istio-0.5.0? Is there any fix to it. It will be really helpful

[2018-02-07 16:28] cjp421 opened #189 "adapter-development-walkthrough "before you start" build failing"
**Is this a BUG or FEATURE REQUEST?:**
Bug or user error...

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
N/A

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
N/A

**Wha

[2018-02-07 20:48] cjp421 commented on #189
Looks like it might just be a user issue... after figuring out that I needed to get golang/dep and pull the dependencies, it seems to work now.  Still learning go...

[2018-02-07 20:48] #189 closed

[2018-02-07 21:37] aroundthecode opened #190 "3rd Party Api Gateway integration"
**FEATURE REQUEST:**
In the last days I tried to integrate Istio with some API Gateway/ North-Sud Service Mesh.

I tested Traefik, Ambassador and Kong, trying to put them in front of a set of microservices managed by Istio

Up to now none of them seems to be able to coexist with Istio without breaking RouteRule over the (API GW)-(Istio managed service)

My understanding is that also the API GW sho

[2018-02-08 21:06] srinandan commented on #190
There is a working group for API Management [here](https://github.com/istio/community/blob/master/WORKING-GROUPS.md#api-management). You might want to join the group to discuss how API Management is being enabled.

[2018-02-08 21:26] SerialVelocity opened #191 "Add TLS decryption to HTTP proxy"
**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Y

**Feature Request:**
Y

**Describe the feature:**
While using the HTTP proxy, it would be nice to be able to decrypt traffic so that L7 filters can be used.

This may require adding a second port for an HTTPS proxy if support is

[2018-02-08 21:36] myidpt commented on #175
https://github.com/istio/istio/pull/3065
https://github.com/istio/api/pull/341

[2018-02-08 21:52] myidpt commented on #177
Hi Andra, do we have any update on this? :)

[2018-02-09 00:13] myidpt commented on #177
Possible solution: Modify the config map to add the new IP Range. Perform rolling upgrade with initializer/kube-inject to update iptables. Need to check if this works with kube-inject.

[2018-02-09 03:46] mgtriffid commented on #185
Apparently this was fixed recently and just did not get into 0.5.0, so I'm closing this.

[2018-02-09 03:46] #185 closed

[2018-02-09 18:25] rlguarino opened #192 "Confusing Docs on disabling automatic injection"
**Is this a BUG or FEATURE REQUEST?:**

REQUEST

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
N

**Describe the feature:**
There should be an example of how to disable automatic injection on the docs [here](https://istio.io/docs/setup/kubernetes/sidecar-injection.html).

A quick example of a simple deployment with the

[2018-02-11 04:57] ldemailly commented on #150
Issue moved to [istio/istio #3398](https://github.com/istio/istio/issues/3398) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-11 04:57] #150 closed

[2018-02-12 01:42] kolobok01 opened #193 "Side container fails when running consul and ereka samples"
Looks like sidecar manifest that include in samples for consul and eureka is broken
image: docker.io/istio/proxy_init:0.5.0 -exited
image: docker.io/istio/proxy_debug:0.5.0 - running
Tested on ubuntu 16.04 and macOS
Steps to replicate .

1. https://istio.io/docs/setup/consul/quick-start.html (all containers are healthy  -- pilot is running)
2. docker-compose -f samples/bookinfo/consul/bookinfo.yam

[2018-02-12 02:00] #193 closed

[2018-02-12 02:02] kolobok01 commented on #193
incorrect location

[2018-02-12 04:35] gireeshpunathil opened #194 "co-ordinated dump collection and transport strategy"
**Is this a BUG or FEATURE REQUEST?:**
feature request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
yes
**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....

**What happened**

[2018-02-12 08:05] johanfrick-mobenga opened #195 "Cannot route traffic to multiple namespaces"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
Followed this guide https://istio.io/docs/setup/kubernetes/quick-start.html.

**Is Istio Auth enabled or not ?**

[2018-02-12 09:28] CaoShuFeng opened #196 "why kernel.core_pattern is set to /etc/istio/proxy/ ?"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** No

**What happened**:
This coreDump feature makes me confused.

When we run `istioct

[2018-02-12 17:17] josephburnett commented on #148
+1 to providing an API for Istio Envoy injection.  I already have the pod spec in a CRD controller.  I would rather just inject with a go function there, than to setup yet another webhook.

[2018-02-12 17:35] ayj commented on #148
We could export [`injectionData()`](https://github.com/istio/istio/blob/2c6bb8c1891f3315cc6820734971cc7ee0da418d/pilot/pkg/kube/inject/inject.go#L205). You'd need to provide the sidecar template and proxy/mesh configurations.

[2018-02-12 18:28] santoshshanmukh opened #197 "BookInfo app crashes on istio"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**: NO
Did you install istio.yaml, istio-auth.yaml....: istio.yaml

**What happe

[2018-02-12 20:41] ijsnellf commented on #195
It sounds like you have two issues:
1. Header match on `User-Agent` is not working.
2. Route to static-service in ns-safari is not working.

For 1, do you have a default routing rule of precedence 1 that directs all traffic to `static-server`?

For 2, have you tried using the `service` field inside the route destination with the FQDN of the Safari service?:
[code]
This might bypass any issues with

[2018-02-13 01:40] CaoShuFeng commented on #196
/cc @ayj
Thanks

[2018-02-13 08:21] luguoxiang opened #198 "The example httpapispec.yaml do not work"
**Is this a BUG or FEATURE REQUEST?:**
a BUG
**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**:
Y
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
N
**What happened**:
I install

[2018-02-13 14:59] esnible opened #199 "istio-proxy-cfg.py backtraces if there are no labels"
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
python istio-proxy-cfg.py  wandering-seahorse-customerdb-couchdb-598fb75855-f7p27
Traceback (most recent call last):
  File "istio-proxy-cfg.py", line 226, in <module>
    sys.exit(main(args))
  File "istio-proxy-cfg.py", line 187, in main
    pod = searchpod(pod_info(), ar

[2018-02-13 16:02] GregHanson commented on #197
I would say this is the expected behavior of the init container, the container runs once, creating an iptables rule and then exits.  Restarting it does produce the `Chain already exists` message since the iptables rule already exists - so ignore the init container for debugging

For this, did you perform a `git clone` of istio or did you use the `curl -L https://git.io/getLatestIstio | sh -` comma

[2018-02-13 16:42] mandarjog commented on #199
Hi Ed thanks for the issue.
Since you have a fix can you send a PR?

[2018-02-13 16:49] santoshshanmukh commented on #197
Thank you @GregHanson for your response and solution. I cloned the project rather than use the script.
 I will try with 0.5.1 and use the setup script and update the issue log with my observations.

[2018-02-13 17:46] ayj commented on #196
I believe the primary motivation for `--coreDump` was to debug the proxy (envoy).

cc @andraxylia @costinm

[2018-02-13 18:31] terinjokes opened #201 "howto rebuild docker images"
Right now it's very difficult to rebuild Docker images, for example to test patches to Envoy in the sidecar and ingress services. Image builds are split across repositories, there's little documentation on building them, and they have a reliance on GCS to thread through build artifacts.

Can we write documentation and improve this situation?

[2018-02-13 19:27] conorcurlett opened #202 "Unable to read istio configmap on Canonical Kubernetes cluster, "x509: certificate signed by unknown authority""
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
Istio 0.5.0, procured through https://git.io/getLatestIstio
Canonical Kubernetes in AWS, installed using juju charms, Flannel overlay, Kubernetes v1.9.2

[

[2018-02-13 22:11] saturnism opened #203 "Kubernetes webhook*.sh and *.pem missing from 0.5.1 package"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** Yes

**What happened**: Following [automatic sidecar injector instal

[2018-02-13 23:56] saturnism opened #204 "prometheus.yaml creates service account in default namespace, should be istio-system?"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** istio.yaml, no auth

**What happened**: Tried to install promtheus.y

[2018-02-14 00:53] ayj commented on #203
Known issue :( The docs [here](https://istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook) have been updated accordingly.

[2018-02-14 00:53] #203 closed

[2018-02-14 02:08] ldemailly commented on #201
agreed the doc can use more improvements - specially the recently changed dev workflows
should be fixed by https://github.com/istio/istio/pull/3475
(confirm that helps)

[2018-02-14 02:09] ldemailly commented on #197
is this the same as https://stackoverflow.com/questions/48753297/bookinfo-example-app-crashes-on-istio ?

[2018-02-14 02:16] terinjokes commented on #201
@ldemailly AFAICT that PR doesn't address rebuilding envoy_debug or working around [pulling tarballs from GCS](https://github.com/istio/istio/blob/17d6d49e7d007a3614161a8c4d26683050d39fa8/bin/init.sh#L68-L107) while building.

[2018-02-14 02:18] nmnellis commented on #204
Added the fix here: https://github.com/istio/istio/pull/3478

[2018-02-14 02:34] ldemailly commented on #201
ic, I updated your issue title accordingly

can you try to follow the chain of commands... the actual proxy is built in
https://github.com/istio/proxy
?

[2018-02-14 02:54] terinjokes commented on #201
I can rebuild envoy-debug from istio/proxy, I can rebuild the images in istio/istio. After hacking around the shell scripts, I can even rebuild with my own envoy-debug images.

I created this issue because none of this was documented, it took me the better part of a day to figure out. Because I had to modify scripts to actually build these images, I'm not 100% sure I've build things that are relea

[2018-02-14 03:47] ldemailly commented on #201
doc / better scripts pr welcome :)

[2018-02-14 08:12] santoshshanmukh commented on #197
Yes @ldemailly. Created the same query on stackoverflow as well.
Also, I have an update. I followed the steps as mentioned by @GregHanson.
I used the "curl -L https://git.io/getLatestIstio | sh -" command and installed istio-0.5.1

I was able to get the bookinfo app working, and am able to access the apps via the ingress gateway.

I will close the issue on stackoverflow as well.

Thank you for the

[2018-02-14 08:12] #197 closed

[2018-02-14 12:30] Dadabhvai-Kashyap opened #205 "RouteRule rewrite not working"
Route rules not working for me
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes
**Bug:**
Y/N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.y

[2018-02-14 16:17] linsun commented on #204
@hklai and team thanks much for getting 0.5.1 out!  could we create a small release note for it?  i’d like to document the istio dashboard issue

[2018-02-14 16:48] amit-shah opened #206 "Cannot increase max websocket connections beyond 1024"
**Is this a BUG or FEATURE REQUEST?:**FEATURE

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** N
Did you install istio.yaml, istio-auth.yaml....

**What happene

[2018-02-14 18:23] hklai commented on #204
@linsun Please use https://github.com/istio/istio/wiki/v0.5.1

[2018-02-14 18:59] redlifejacket opened #207 "Istio Bookinfo: upstream connect error or disconnect/reset before headers"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
NO
Did you install istio.yaml, istio-auth.yaml....
NO
**What happene

[2018-02-14 19:15] redlifejacket commented on #207
/cc @salrashid123 @selmanj @ldemailly

[2018-02-14 20:03] salrashid123 commented on #207
I'm an owner now of the target GCP project and saw the sidecars didn't get installed though the other components did

[code]

[code]

I deleted bookinfo an dthen redeployed the app and saw the sidecars pick up.

suspect this maybe a timing issue on our GCP DM script (i.,e we run through istio init, webhook setup for ```0.5.1``` then wait  ~10s before deploying bookinfo.

I can look into some  watc

[2018-02-14 22:42] samkreter commented on #204
Just ran into this same problem following tutorial at https://istio.io/docs/tasks/telemetry/metrics-logs.html

[2018-02-15 05:24] ldemailly commented on #207
@selmanj can you have a look?

[2018-02-15 05:25] #204 closed

[2018-02-15 05:28] ldemailly commented on #194
it would be interesting to support that kind of standardization; it's a good extension to telemetry/observability and health checks

I don't think it would happen for 1.0 but something to consider for long term roadmap - cc @mandarjog

[2018-02-15 05:31] ldemailly commented on #196
yes the goal of that init container and option is to capture (or not capture) envoy crashes if any

https://github.com/istio/istio/issues/3064 is tracking it does work (on ci but we should also check in prod)

[2018-02-15 05:55] amit-shah commented on #206
Adding the below caused it to read the destination policy:
      httpDetectionInterval: 1s
      sleepWindow: 3m
      httpMaxEjectionPercent: 100

now i could see the default max connections be increased to 102400

Also the number of connections went up to around 2048 and am not sure where the requests are being limited - is there a place to see the logs that might show the circuit breaking or po

[2018-02-15 06:25] gireeshpunathil commented on #194
thanks @ldemailly . According to me, the questions we need answers are:

 - When to collect data?
    - upon an unexpected program state (such as crash), what else?
    - upon a user trigger - how to configure a trigger in the control plane?
    - upon a precondition in the application state, what they could be?

 - How to collect data?
    - some runtimes (such as Java) has inherent mechanism to

[2018-02-15 10:01] steffengy commented on #172
It also seems like `istioctl inject` defaults to `EnableCoreDump` = true,
which also requires privileged = true, so you'd need to pass `--coreDump false`.
(Not sure if that's also an issue when using initializers for injection)

[2018-02-15 11:49] zillani opened #208 "istio as proxy for external services"
**ISSUE TYPE: FEATURE REQUEST:**

**Setup:**
istio: v0.5.0
k8s: 1.7.4

**Description:**
I would like to use istio ingress as a proxy for my external services as below,

[code]
discussion on google groups:
https://groups.google.com/forum/#!topic/istio-users/Y0mAUNMIU30

[2018-02-15 12:57] christian-posta commented on #172
Yah. Can you open an issue to track this?

On Thu, Feb 15, 2018 at 3:01 AM, Steffen Butzer <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://blog.christianposta.com <http://www.christianposta.com/blog>

[2018-02-15 13:32] steffengy opened #209 "istioctl inject defaults to EnableCoreDump=true, requires privileged istio-init"
istioctl inject defaults to EnableCoreDump = true,
which also requires privileged = true, so you'd need to pass --coreDump false.
(Not sure if that's also an issue when using initializers for injection)

[2018-02-15 13:32] steffengy commented on #172
@christian-posta https://github.com/istio/issues/issues/209 Done

[2018-02-15 15:08] GregHanson commented on #205
@Dadabhvai-Kashyap since you are sending traffic to an entirely different host, rather than rewriting a portion of the uri, I would use the Host header for the match header criteria and rewrite `authority` instead of `uri`

[2018-02-15 15:43] vadimeisenbergibm commented on #208
@zillani to clarify, following the discussion on google groups, how do you want to use that proxy:
1. As you wrote in https://github.com/istio/issues/issues/208#issue-297418284
 `http_proxy=$ISTIO_INGRESS curl -v http://www.foo.bar.com:443`

Or:

2. `curl $ISTIO_INGRESS/foo:443` would be OK, with the request  forwarded to `http://www.foo.bar.com:443` ?

[2018-02-15 16:11] ldemailly commented on #209
cc @linsun

[2018-02-15 16:13] ldemailly commented on #209
I guess we could also change the core dump default in istioctl and the injector to false; to match the new tied down setup of 0.5 ?

cc @ayj

[2018-02-15 20:03] alexkoturanov opened #210 "0.5.1 mixer memory leak under certain conditions"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
No - used istio.yaml

**What happened**:
increasing memory usage for mixer (in GB) under load
![screenshot-koturano-02-15-18-at-11 33-am](https://

[2018-02-15 20:13] mandarjog commented on #210
note: @ldemailly @jnativio

[2018-02-15 20:14] #210 closed

[2018-02-15 20:14] mandarjog commented on #210
Issue moved to [istio/istio #3531](https://github.com/istio/istio/issues/3531) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-16 09:35] Dadabhvai-Kashyap commented on #205
@GregHanson  I tried to match and rewrite authority headers like:
[code]
I use `curl -iv service1.com`  and see that host header is not getting rewritten by envoy.
Could you please tell how do we test that rules are propagated properly to envoys

[2018-02-16 14:38] jnativio commented on #210
The behavior I saw in my environment is somewhat different. There is a performance regression on the mixer when installed with the default configuration. For the workload I use it impacted the throughput/response time in more than 50%. By disabling the Policy Checks, the mixer returns to normal (compared to 0.5.0), but starts using huge amount of memory.

![image](https://user-images.githubusercon

[2018-02-16 15:20] msogrin opened #211 "Secure cookie and Istio egress"
**Is this a BUG or FEATURE REQUEST?:**  BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** not

**What happened**: Using Istio egress rule to access HTTPS service that us

[2018-02-16 21:35] bobbytables opened #212 "Ingress will route requests to other services even if the host does not match"
We have a few services that are routed using the `host` parameter (connect.namely.com as an example). And another IngressRule that adds a catch all for `*.namely.com`. For some reason, the ingress controller will stop routing `example.namely.com` to the appropriate service and suddently start sending requests to the connect service.

[2018-02-17 05:01] SerialVelocity opened #213 "Restrict the sidecar volume size"
Currently, the size limit of the `istio-envoy` volume for the sidecar is not bounded.

https://github.com/istio/istio/blob/0.5.1/install/kubernetes/helm/istio/charts/sidecar-injector/templates/configmap.yaml#L91

Please could you set a limit on how big it can grow?

[2018-02-17 10:28] sbueringer opened #214 "Custom command line options for Envoy"
**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Y

**Feature Request:**
Y

**Describe the feature:**

This feature would allow custom command-line options (e.g. --base-id https://www.envoyproxy.io/docs/envoy/v1.5.0/operations/cli.html?highlight=base%20id#cmdoption-base-i

[2018-02-17 10:44] sbueringer opened #215 "Conflict between tcp and https EgressRules with the same port"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
0.5.1
1.9.3

**Is Istio Auth enabled or not ?**
istio-auth.yaml

**What happened**:
I want to enable access

[2018-02-17 11:27] sbueringer opened #216 "Kubernetes apiserver connection refused"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
There was already a discussion about this here:
https://groups.google.com/forum/#!searchin/istio-users/apiserver%7Csort:date/istio-users/pYtk9MKmOSg/Y93CPQrEAgAJ
But I thought with https://istio.io/docs/tasks/security/per-service-mtls.

[2018-02-17 13:19] mjwhale opened #217 "webhook-create-signed-cert.sh mktemp error mac"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....

Auth Disabled, isti

[2018-02-19 06:36] joshuajorel opened #218 "Prometheus service account for 0.5.1 is broken"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No.

**What happened**:
The prometheus service account definition in `

[2018-02-19 09:05] joshuajorel opened #219 "Service Account Clarification (scc permissions) for OpenShift"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
Can anyone update the guidelines or what other perm

[2018-02-19 10:06] msogrin commented on #215
I think I also saw this issue when trying to work around #211.
I saw that https rule stopped working when both https and tcp rules were added, but https rule worked fine when tcp rule was deleted.

If this issue gets fixed, it will probably be a suitable resolution of #211.

[2018-02-19 15:26] zillani commented on #208
@vadimeisenbergibm
normally with the proxy env variable Option-1, but hey! Option-2 in some usecases will be great as well. Preferably #1 for now.

[2018-02-19 17:33] ldemailly commented on #208
not sure either of those are wise from a security point of view

also not clear how that relates to istio's mission as a mesh management - bouncing traffic of the "ingress" seems like a different use case (which you can write as a service if you wanted to)

[2018-02-20 09:14] santoshshanmukh opened #220 "istio-pilot warnings & istio-proxy not showing up on zipkin and jaeger dashboards."
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** No
Did you install istio.yaml, istio-auth.yaml....:  istio.yaml

**W

[2018-02-20 13:12] vadimeisenbergibm commented on #215
@sbueringer This is the current design of Istio, due to limitations of Envoy - you cannot mix TCP and HTTP protocols on the same port. It is described here - https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/config.go#L698.

The workaround is to specify TCP for the `firstrule` Egress Rule, or to deploy the second external service to a different port.

[2018-02-20 13:15] vadimeisenbergibm commented on #211
@msogrin Currently, the only way to support HTTPS connection from the client is by specifying the protocol as TCP.

[2018-02-20 15:10] msogrin commented on #215
@vadimeisenbergibm please note that the same port here refers to the standard HTTPS port of different external services. It's not for us to deploy those external services at different ports.

[2018-02-20 16:15] stevemartinaws opened #221 "Internal gRPC connections not working"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
Node gRPC app cannot communicate with go gRPC se

[2018-02-20 16:43] ldemailly commented on #221
are you using the correct service name and port for your server ? any relevant logs on source (and destination) istio-proxy containers?

[2018-02-20 19:25] stevemartinaws commented on #221
service names and ports are correct, although these are not fully qualified with the namespace. Everything is in default and we have never had to do it.

I have also attempted to use the ClusterIP from the service to connect without success.

I have done some more testing and as soon as I introduce the sidecar again my webapplication probes fail and nothing can communicate (the probes depend on ba

[2018-02-20 22:34] ldemailly commented on #221
it seems your app is asking for `mywebaaplication.com` which isn't known to pilot/envoy ?
[code]

[2018-02-21 07:54] stevemartinaws commented on #221
traffic comes in via an ingress rule based on host `mywebaaplication.com`. As the app cannot communicate with backend services the health and readiness checks do not pass and the pod never becomes ready. If I remove these checks I then get logs from the gRPC client stating that the connection has failed.

[2018-02-21 08:13] ldemailly commented on #221
can you capture the log from doing just 1 grpc call from inside the mesh grpc client to mesh grpc server and show only the logs for that ? (not ingress etc...)

if you have grpc health check you could use `fortio grpcping -health svc:port` to test too

[2018-02-21 14:58] meteatamel opened #222 "getLatestIstio PowerShell script"
**Is this a BUG or FEATURE REQUEST?:** Feature request

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
N

**Feature Request:**
Currently, this is how we tell people to install Istio:
curl -L https://git.io/getLatestIstio | sh -

This does not really work on Windows (eg. Minikube running on Windows).

Instead, t

[2018-02-21 20:41] ayj commented on #192
I found one instance of deployment-level annotation in master (see https://github.com/istio/istio/pull/3664). The rest should have been fixed already.

[2018-02-21 21:56] ayj commented on #209
It seems reasonable to switch core dump default to disabled in `kube-inject`. The release sidecar configuration template already excludes core dumps w/privileged=true (see https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-sidecar-injector-configmap-release.yaml.tmpl)

[2018-02-22 02:33] astanciu commented on #37
Any updates on this? Is still not possible to use Istio if using something like RabbitMQ?

[2018-02-22 07:18] myidpt commented on #177
I have tested this works. Here's the procedure:
https://docs.google.com/document/d/188_sPGjpgnc5vMvwaBhmEHC3dno7X2fN4LGk2vzH7sM/edit#

[2018-02-22 12:01] prune998 commented on #37
I think it's fixed. Try it.

[2018-02-22 14:30] geoand opened #223 "Ansible install directory only contains README"
Checking the produced artifacts for releases `0.5.0` and `0.5.1` (both for Linux an OSX), I found that the directory `install/ansible` contains only the README and none of the playbook files.

I would like to submit a PR to fix this, but since I am not aware of how Istio is built, any pointers would be welcome.

Thank you

[2018-02-22 16:24] vadimeisenbergibm commented on #208
@zillani Example of the option 2, using istio to become a proxy to `httpbin.org` (works starting from Istio 0.5.1)

1. Define a Kubernetes External Name service:
[code]

2. Define Ingress to direct traffic from `$ISTIO_INGRESS/httbin` to `httpbin.org`:
[code]

3. Define a Route Rule to remove `/httbin` prefix and to rewrite the `Host` header to be `httpbin.org`:
[code]
4. Access, for example, `$IN

[2018-02-22 16:44] vadimeisenbergibm commented on #208
@kyessenov @rshriram Could you please comment on the initial question https://github.com/istio/issues/issues/208#issue-297418284 ?

[2018-02-22 20:23] saturnism opened #224 "Document all the different resource kinds"
**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:** No

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details** N/A

**Is Istio Auth enabled or not ?** N/A

**What happened**: When looking at a [Circuit Breaker

[2018-02-22 20:46] Ravibabu-Nannuri opened #225 "Istio Configuration with in Kubernetes Namespace"
Dear Istio Team,

Does always istio needs to be configured at cluster level in Kubernetes?

Can we do at the namespace level too within a cluster?

To configure Istio at namespace level, we modified all the "ClusterRole" to "Role", "ClusterRoleBinding" to "RoleBinding".

**What happened**:
We are getting the below issue.

**Istio Pilot log snippet:**

failed to create discovery service: failed to

[2018-02-23 15:28] GregHanson commented on #39
@Linda009 @hzxuzhonghu  are you still having the same problems in istio verison 0.5.1 or later?

[2018-02-23 15:33] GregHanson commented on #58
@debianmaster still seeing problems with this in istio version 0.5.1 or later?

[2018-02-23 15:44] GregHanson commented on #85
@fleeto are you still seeing this in istio version 0.5.1 or later?

[2018-02-23 16:05] isaias opened #226 "Istio pods in pending status after installation"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes, I've verified including the Setup and Troubleshooting Guide. The Automatic Sidecar Injection requirement is fine:

[code]
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installatio

[2018-02-23 16:29] GregHanson commented on #92
issue resolved by using istio version0.5.1 or later

[2018-02-23 16:29] #92 closed

[2018-02-23 16:32] GregHanson commented on #93
helm integration is implemented as of istio 0.5.1 or later.  further work can be tracked at this issue: https://github.com/istio/istio/issues/2516

[2018-02-23 16:32] #93 closed

[2018-02-23 16:34] GregHanson commented on #94
istio no longer relies on bazel to build, please use `make istioctl`

for mac related builds, please refer to https://github.com/istio/istio/issues/576 as this is an ongoing problem

[2018-02-23 16:34] #94 closed

[2018-02-23 16:35] GregHanson commented on #103
@msogrin are you still seeing this problem in istio version 0.5.1 or later?

[2018-02-23 16:39] #84 closed

[2018-02-23 16:39] GregHanson commented on #88
@cmeury @tjquinno are you still having this problem in istio version 0.5.1 or later?

[2018-02-23 16:42] GregHanson commented on #110
resolved by using istio version 0.5.1. or later

[2018-02-23 16:42] #110 closed

[2018-02-23 16:44] GregHanson commented on #111
@jensneuse any follow up questions on this?

[2018-02-23 16:46] GregHanson commented on #114
@tjquinno @citywander @RTabassum are you seeing this problem still in istio version 0.5.1 or later?

[2018-02-23 16:53] GregHanson commented on #123
resolved by https://github.com/istio/istio/pull/2017

[2018-02-23 16:53] #123 closed

[2018-02-23 16:54] GregHanson commented on #122
@dudu8 are you still having this problem in istio version 0.5.1 or later?

[2018-02-23 16:57] #126 closed

[2018-02-23 17:03] GregHanson commented on #128
@Morriz are you still seeing this problem with istio version 0.5.1 or later?  We have included minikube test as part of our automated testing.  You can see how we start minikube here:
https://github.com/istio/istio/blob/master/bin/testEnvRootMinikube.sh

[2018-02-23 17:03] #128 closed

[2018-02-23 17:14] vadimeisenbergibm commented on #120
@chentao1596 sorry, I did not see your comment. I do not experience this problem now with Istio 0.5.1. I am closing the issue.

[2018-02-23 17:14] #120 closed

[2018-02-23 17:15] GregHanson commented on #132
I have also seen problems running minikube with limited resources and seeing 503's from productpage.  Recommend using istio 0.5.1 or later and minikube is now part of our automated test infrastructure - you can see how we run minikube for testing here: https://github.com/istio/istio/blob/master/bin/testEnvRootMinikube.sh

[2018-02-23 17:15] #132 closed

[2018-02-23 17:16] GregHanson commented on #133
resolved by https://github.com/istio/istio/pull/2334

[2018-02-23 17:16] #133 closed

[2018-02-23 17:18] GregHanson commented on #136
@kubebc are you still having this problem in istio version 0.5.1 or later?

[2018-02-23 18:55] esnible opened #227 "Istio does not route outgoing HTTP if it is intended for ports 5983 or 5984"
**Bug:** Y

**What Version of Istio and Kubernetes are you using**
Kubernetes v1.8.3+icp+ee
Kubernetes version 0.5.0
Sidecar version http://<istio-proxy>:15000/server_info reports "envoy 0/1.6.0-dev//DEBUG live 1922 1922 0"

**Is Istio Auth enabled or not ?** Y

**What happened**:
I deployed CouchDB with MutualTLS enabled.  My application containers could not reach Couch.  Eventually I realized th

[2018-02-23 19:10] ldemailly commented on #227
Issue moved to [istio/istio #3729](https://github.com/istio/istio/issues/3729) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-23 19:10] #227 closed

[2018-02-23 20:53] #139 closed

[2018-02-23 21:18] GregHanson commented on #143
@ziqingzhu are you still having problems with this?  Also did pilot crash only after creating the rule?  Does the problem persist in istio version 0.5.1 or later?

[2018-02-23 21:22] GregHanson commented on #149
@theganyo we have switched our vendor dir to a git submodule, so dep should no longer be a dependency.  If you find any other on-boarding concerns, feel free to submit a PR or open another issue for tracking

[2018-02-23 21:22] #149 closed

[2018-02-23 21:25] GregHanson commented on #151
I believe all items were addressed in https://github.com/istio/istio/pull/2461, if not please re-open

[2018-02-23 21:25] #151 closed

[2018-02-24 01:25] hzxuzhonghu commented on #39
@GregHanson Sorry, not use it recently.

[2018-02-24 16:17] ziggy42 opened #228 "Timeout + Delay does not seem to work"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
I have 3 services `frontend -> api -> gatekeeper.`
I defi

[2018-02-24 18:16] isaias commented on #226
I've identified the problem. There was a problem in master/slave(s) communication. Now it is working fine.

[2018-02-24 18:16] #226 closed

[2018-02-24 18:18] h4ckroot commented on #173
Same here !

[2018-02-24 18:29] ziggy42 commented on #228
This error was on me, sorry

[2018-02-24 18:29] #228 closed

[2018-02-24 18:48] ldemailly commented on #173
can you try a TESTONLY matching your OS from
http://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.6.0-pre20180222-22-57-06/
(make sure to read https://github.com/istio/istio/wiki/Daily-builds#notes )

[2018-02-24 21:27] ldemailly commented on #143
this is not "pilot" crashing - it's envoy - which pod is it from ? is it the envoy in the pilot container ?

can you put the exact command you issued to get the logs, including pod name

[2018-02-24 21:28] ldemailly commented on #143
hmm this is old I'm going to close it - please reopen if it happens again with more details and using the current release - thanks!

[2018-02-24 21:28] #143 closed

[2018-02-24 21:29] #122 closed

[2018-02-24 23:01] petr-k commented on #60
Hello,
any update on this? I am still hitting this issue with Istio 0.5.1.

[2018-02-26 00:33] ldemailly commented on #60
can you elaborate on what you see exactly for 0.5.1 and grpc ingress?

it works for me as you can see using

[fortio](https://github.com/istio/fortio) grpcping -grpc-secure fortio.istio.io:443

[2018-02-26 00:34] #136 closed

[2018-02-26 00:36] ldemailly commented on #88
I guess we could document more prominently this limitation and possibly have other ways to discover a service is http but closing for now

[2018-02-26 00:36] #88 closed

[2018-02-26 00:37] #103 closed

[2018-02-26 00:38] ldemailly commented on #37
egress is still wip but closing this for now

[2018-02-26 00:38] #37 closed

[2018-02-26 03:38] Xiphin commented on #193
@kolobok01 I met the same issue. How did you fix it?

[2018-02-26 04:56] kolobok01 commented on #193
@Xiphin  https://github.com/istio/istio/issues/3403

[2018-02-26 06:42] chentao1596 commented on #120
@vadimeisenbergibm ok, thank you for your reply!

[2018-02-26 09:45] msogrin commented on #103
The problem is not reproducible anymore in 0.5.1.

[2018-02-26 12:06] #205 closed

[2018-02-26 12:15] Dadabhvai-Kashyap opened #229 "RouteRule incorrectly handles routing for http-only backend"
Route rules not working for me
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes
**Bug:**
Y/N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.y

[2018-02-26 15:14] ldemailly commented on #103
great to hear! thx for having checked!

[2018-02-26 16:01] vadimeisenbergibm commented on #103
the issue should have been resolved by https://github.com/istio/istio/pull/1915.

[2018-02-26 17:04] gcallaghan opened #230 "Unable to setup webhook side car injection"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Enabled. I installed istio-auth.yaml

**What happened**:
Deleting the

[2018-02-26 22:38] petr-k commented on #60
The behavior I'm seeing is: when a service is called (through ingress) with an `:authority` including the port where gRPC service is listening, e.g. `a.b.c:6262`, ingress rules that are written against `a.b.c` hostname do not match.

In short, I'm encountering the same behavior as described in a comment above: https://github.com/istio/issues/issues/60#issuecomment-330906185 - but because the refer

[2018-02-26 22:45] ldemailly commented on #60
Interesting, I know envoy makes all http (and thus grpc) routing based on Host: header (aka authority) so I am not surprised. I am curious though, why would your client use a different port in authority than the port it actually connects to ?

[2018-02-26 23:01] petr-k commented on #60
I am not using a different port in authority than the port it actually connects to. What I mentioned about the `WithAuthority` override was just a way to work around the Istio ingress rule not matching - it does not change where the client connects to in any way, it merely changes the header.

Maybe I should describe how I came around this issue. Following the bookinfo tutorial, I used `minikube`,

[2018-02-26 23:10] ldemailly commented on #60
so if you use an ingress on port 3145 I guess you need to put "port: 3145" in your virtual host routing ?

[2018-02-26 23:20] petr-k commented on #60
Where exactly should I put that value? You can't have `host: hostname:portnumber` in an ingress rule spec and afaik there's no dedicated `port` property either.

[2018-02-26 23:28] ldemailly commented on #60
I was thinking egress rules, my bad. It's true that current ingress spec is hardcoded for either http or https... I don't think an ingress getting traffic on non 80/443 port is really supported by k8s spec

I'm glad you found a workaround though, want to add a PR to https://istio.io/help/faq/traffic-management.html ?

[2018-02-26 23:32] petr-k commented on #60
Well it's not really a workaround per se, because it requires changes to the gRPC client. There will be occasions where you just can't do that, especially when you don't control the client code.

I believe that port in `authority` header should be stripped (not considered) when evaluating ingress rules.

[2018-02-26 23:33] ldemailly commented on #60
yes I think I agree if the binding port can't be set anywhere it would make sense
(though you'd still have to know if it's 80 vs 443)

[2018-02-26 23:35] petr-k commented on #60
Agreed. I guess that's the same logic as applied for standard HTTP/S - the port is implicit, right?

[2018-02-26 23:46] ldemailly commented on #60
I don't know how would it know if it needs to be ssl or not / have 2 ports ...

[2018-02-27 09:41] CaoShuFeng commented on #196
This featrue has several disadvantages, as far as i can see.

1. it effect other pods and the node itself.
2. there is no directory /etc/istio/proxy in other pods and the node, so coredump files in their namespaces could not be generated.

[2018-02-27 14:34] GregHanson commented on #39
closing issue until more info is provided

[2018-02-27 14:34] #39 closed

[2018-02-27 14:34] GregHanson commented on #58
closing until issue can be reproduced in istio version 0.5.1 or current release

[2018-02-27 14:34] #58 closed

[2018-02-27 14:35] GregHanson commented on #85
closing until issue can be reproduced in istio version 0.5.1 or later

[2018-02-27 14:35] #85 closed

[2018-02-27 14:36] GregHanson commented on #114
closing until issue can be reproduced in istio version 0.5.1 or later

[2018-02-27 14:36] #114 closed

[2018-02-27 18:01] ayj commented on #217
Issue moved to [istio/istio #3808](https://github.com/istio/istio/issues/3808) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-27 18:01] #217 closed

[2018-02-27 19:14] douglas-reid commented on #218
This was fixed in istio/istio#3478.

[2018-02-27 19:14] #218 closed

[2018-02-27 19:16] douglas-reid commented on #180
This has been fixed (see: https://github.com/istio/api/blob/master/mixer/v1/config/fixed_cfg.pb.go).

[2018-02-27 19:16] #180 closed

[2018-02-27 19:46] debianmaster commented on #58
i will take a look when i get a chance

[2018-02-27 21:16] ayj commented on #148
Issue moved to [istio/istio #3816](https://github.com/istio/istio/issues/3816) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-27 21:16] #148 closed

[2018-02-28 11:44] johanfrick-mobenga commented on #195
This is actually working:
[code]
Thanks a lot, @ijsnellf

[2018-02-28 11:44] #195 closed

[2018-02-28 13:55] #192 closed

[2018-02-28 16:21] ijsnellf commented on #195
Glad to hear that worked!

[2018-02-28 16:25] ijsnellf commented on #222
If you don't mind a manual step, you can always get it from: https://github.com/istio/istio/releases/latest

[2018-02-28 16:30] ijsnellf commented on #229
Hi, what do your service definitions look like for service1 and service2?

[2018-02-28 19:34] andraxylia commented on #175
Fixed.

[2018-02-28 19:34] #175 closed

[2018-02-28 22:15] zerbitx commented on #184
I'm having the same issue w/out minikube.  Using docker for mac edge w/kubernetes.

istioctl: 0.5.1
kubectl: 1.9.2

[code]
All of this outputs:
[code]
This all seems to run without error, but each of the pods has 1/1 ready. Killing any of them comes back up with 1/1 ready, even with the namespace showing injection enabled.

[2018-03-01 00:24] ayj commented on #184
You could verify the sidecar-injector pod is running and also the api-server logs for webhook errors. You might also want to configure the webhook for fail-close to avoid pods being created before the webhook is ready. Its a one-line change to the registration yaml. See https://github.com/istio/istio/pull/3724 or the snippet below.

[code]

[2018-03-01 10:01] taozix opened #231 "source.service can not be collected."
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**What happened**:
deploy the service: haproxy-svc--->nginx-svc
service can be visited normally，but source.service is n

[2018-03-01 15:33] zerbitx commented on #184
Thanks for the quick reply.  I made the change to istio-sidecar-injector.yaml so that it would make it into the -with-ca-bundle version and applied.  I'm not seeing any difference.  I'm not sure which apiserver logs you're referring to.  The the injector seems to only be logging the contents of its configMap, the productpage logs nothing and all the other pods reviews/details etc start up fine wit

[2018-03-01 16:28] douglas-reid commented on #231
Can you provide more details on your deployment?

What are the port labels for the various svcs in your mesh?

[2018-03-01 16:36] douglas-reid commented on #225
I don't believe that CRDs are namespaced.

From: https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#create-a-customresourcedefinition

Based on that understanding, I believe perms are needed to allow cluster scope access for CRDs.

[2018-03-01 18:08] ayj commented on #184
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster. You'll need to find the docker container running the k8s api-server and view the logs per the linked instructions.

[2018-03-02 07:52] taozix commented on #231
hi,
haproxy-yaml:
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: haproxy-deploy
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: haproxy
        track: stable
        version: v1
    spec:
      containers:
      - name: haproxy
        image: haproxy:v2
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: haproxy-

[2018-03-03 05:40] ldemailly commented on #175
I would like to hear some results on the effect of this. thanks.

[2018-03-05 08:14] chymy commented on #84
the three reviews pods fail (reviews-v1, reviews-v2, reviews-v3).
They all crash for what appears to be the same error - the reviews container in the pod logs:

CWWKE0005E: The runtime environment could not be launched.
CWWKE0018E: An exception occurred while launching the runtime environment: java.lang.IllegalStateException: The state  could not be created. state=/opt/ibm/wlp/output/defaultServer

[2018-03-05 18:53] esnible opened #232 "Bug: Pod can't talk TCP if TCP Egress is present when pod starts"
There is a bug that manifests if a Pod makes uses a TCP service and is started while there is an Egress that also refers to a TCP service.  I tested this in Istio 0.5.x using _minikube_ version 0.25 and Kubernetes version 1.9.0.

To reproduce deploy the attached set of two MySQL pods with `kubectl apply -f deploy.yaml`

Then, verify you can go to the client MySQL machine and operate on the server

[2018-03-05 18:55] esnible commented on #232
[deploy.txt](https://github.com/istio/issues/files/1782186/deploy.txt)
[kafka-egress.txt](https://github.com/istio/issues/files/1782187/kafka-egress.txt)

Rename these .txt files to .yaml

[2018-03-06 01:50] chymy commented on #84
Thanks! it does not work without istio！

[2018-03-06 03:46] chymy commented on #84
server
memory：  80G
disk: 4T

[2018-03-06 05:24] ldemailly commented on #84
there must be something off in your setup, that's plenty of resources
(how many cores?)

[2018-03-06 06:18] chymy commented on #84
2 CPUs，32Cores.

[2018-03-06 06:24] ldemailly commented on #84
k there must be something basic going on - check logs of your k8s components?
(or maybe it's an unstable version or...)

[2018-03-06 06:30] chymy commented on #84
**tailf /var/log/messages**

k8s-master kube-apiserver: E0306 14:32:18.164383   25320 reflector.go:205] k8s.io/kubernetes/pkg/client/informers/informers_generated/internalversion/factory.go:73: Failed to list *scheduling.PriorityClass: the server could not find the requested resource (get priorityclasses.scheduling.k8s.io)

Above log，is there anything to do with _bookinfo_？

[2018-03-06 06:38] ldemailly commented on #84
not that I know, no

[2018-03-06 10:14] boeboe commented on #37
@hollinwilkins @FuzzOli87

Probably a stupid question, but why don't your run those services within the mesh? This seems to have a lot of added benefits at first sight, no... (the most obvious one being authn/z)?

[2018-03-06 10:57] saturnism opened #233 "Show precedence when using `istioctl get XYZ`"
**Is this a BUG or FEATURE REQUEST?:** FEATURE REQUEST

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Y

**Bug:** N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Installed istio.yaml

**What happened**: `istioctl get rou

[2018-03-06 11:16] bjartek commented on #45
Sorry for the huge delay here. I will try to verify this now that we have time to look at istio again.

[2018-03-06 23:11] douglas-reid commented on #231
The first issue I see is that you have specified the protocol for your ports as `TCP`.  If you wish to see http data, you will need to name them with a prefix of 'http-`.

Can you try that and see what happens?

[2018-03-06 23:25] kyessenov commented on #233
Precedence has been deprecated AFAIK, so this is not going to be
implemented.

On Tue, Mar 6, 2018 at 2:57 AM Ray Tsang <notifications@github.com> wrote:

[2018-03-07 00:55] bobbytables opened #234 "Istio has intermittent 503s and 404s after deploying"
**Bug:**
BUG

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
istio.yaml (no auth)

**What happened**:
A red/black deployment causes 503s that are only stopped by deleting pilot pods and letting them come back. The istio ingress controller also elevated in random 404 status codes as well.

**What

[2018-03-07 09:50] taozix commented on #231
thanks, http data such as source.service & source.version can be connected successful. but source.service will be null if sidecar listener using tcp mode.

[2018-03-07 17:12] bobbytables opened #235 "Expose RetryOn values for RouteRules"
**Feature Request:**

Expose `RetryOn` values for Envoy v1 and v2 route discovery.

https://github.com/istio/istio/blob/c863c92ff0384fa5f343c6575b4fe9095a249703/pilot/pkg/proxy/envoy/v2/rds/translate.go#L421-L423

I don't understand why, out of only 3 values, 2 were exposed in route rules. This seems like it could have been an easy thing to include while building the other values.

[2018-03-07 19:57] kyessenov commented on #235
Thanks for actually looking at the code :)
FYI the implementation is still not fully glued on top of pilot.
cc @rshriram @louiscryan seems like a reasonable extension to istio APIs.

[2018-03-07 20:20] bobbytables commented on #234
Just did some more digging on the 404 portion of this issue, it seems to be limited to a small set of destination pods. Here's what I did.

* Perform a deploy of a static nginx container to a cluster that has istio enabled in its namespace
* Run a simple `ab` to generate traffic against an Istio ingress that routes to a simple nginx container that serves static HTML.
* Istio Ingress starts having

[2018-03-07 20:56] oaktowner opened #236 "Need documentation on cluster migration"
FEATURE REQUEST

**Describe the feature:**

Some customers do not upgrade kubernetes clusters in place -- they spin up a new cluster with the new version of kubernetes, then deploy workloads over there, then turn down original cluster.

If they are replacing the cluster _that is running the Istio control plane_, they will need to ensure that they can migrate the Istio functionality safely from the

[2018-03-07 22:41] oaktowner commented on #236
Note: this may be taken on in this existing [design doc](https://docs.google.com/document/d/1oxrlCgL7R0b_r4aIIFyBne2IxN1Lof3edo9YPy6h2Yk/edit#heading=h.xf69j9kiv171) as an alternate flow.

[2018-03-08 07:13] louiscryan commented on #235
This is valid, at this point I would suggest just making the change in the
v1alpha3 API

On Wed, Mar 7, 2018 at 11:57 AM Kuat <notifications@github.com> wrote:

[2018-03-08 17:09] nmittler commented on #117
@ayj @mandarjog

I believe I'm running into this too.  Running e2e tests locally (rebased on the latest master), I get:

[code]

I'm using `HUB=gcr.io/istio-testing`, `TAG=330981aea07cd359234c0ae08e9512fa1e130a59` (which is from this morning)

I see the field in `config.pb.go`, so I'm not sure what is out-of-date exactly.

[2018-03-08 17:18] nmittler commented on #117
@mandarjog could my issue above be related to: [this thread](https://groups.google.com/forum/#!searchin/istio-dev/Mixer$20production$20deployment%7Csort:date/istio-dev/IC9Ms41DUY4/3N-sLRRQAgAJ)?

[2018-03-08 17:49] mandarjog commented on #117
Yes, this means `istioctl` is older from before this change was made.
Please use a more recent `istioctl`

[2018-03-08 17:49] nmittler commented on #117
@mandarjog ah ok ... let me take a look.  Thanks!

[2018-03-08 19:08] nmittler commented on #117
@mandarjog that was indeed the problem ... thanks again!

[2018-03-09 15:22] bobbytables commented on #234
I can easily reproduce this locally now, I see this in Pilot logs:

[code]

I'm trying to put together a repository with the steps to reproduce right now.

[2018-03-09 15:29] bobbytables commented on #234
I found this bit of code that is rendering this log line:

https://github.com/istio/istio/blob/c6166bfc6aa14632f92ded01a2b16bbcd827e913/pilot/pkg/serviceregistry/kube/controller.go#L339-L397

My hunch is that the pod is still included in CDS but not in LDS?

[2018-03-09 15:50] bobbytables commented on #234
Ok, I have a definitive reason for the 404s:

The CDS of Pilot returns pods correctly within the mesh, however, the LDS for some of the pods omit their IP.

Envoy knows about the Pod IP in it's cluster list:

![image](https://user-images.githubusercontent.com/521627/37215928-66b97634-2387-11e8-8b43-6745c0bcd3db.png)

However, checking the listeners for that service node:
![image](https://user-imag

[2018-03-09 16:37] bobbytables commented on #234
Alright, I figured it out.

This line: https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L367

Is retrieving pods that are in a completed state that have the currently assigned IP. I happened to have a job that ran in my minikube that has an old assigned IP from when it was alive:

[code]

It seems Istio needs to ignore pods in a completed state when consolida

[2018-03-09 16:54] bobbytables commented on #234
Rather, the Informer is returning pods from K8s API that are completed.

[2018-03-09 18:26] kyessenov commented on #234
@bobbytables Thanks for your investigation. I think your findings are correct - two pods are colliding on the IP address but only one of them is in the alive state. The fix is to make sure that the pod cache is ignoring all completed pods (not add them and evict as necessary). I'll have a look at it.

[2018-03-09 19:35] bobbytables commented on #234
It looks like the clientset interface of client-go doesn't expose a way to omit Completed state pods since the ListOptions of v1 are generic. We'll probably have to filter pods once they're retrieved. It seems trivial to add it at the `podCache` but that seems to break that structs responsibility.

I think that it should be added at the informer instantiation to do the filtering.

[2018-03-09 19:43] bobbytables commented on #234
After looking at your implementation I take back what I said.

[2018-03-10 03:30] ldemailly commented on #234
subscribe

[2018-03-11 19:33] Dmitry1987 commented on #123
Sorry if it's not the right place to report, but this happened to me on a regular AWS cluster (cluster built with cloudformation) with istio 0.6.0:

[code]

all "kubectl get crd" shows fine.

was the PR that fixes it merged, or I just should wait for next release?
thanks :)

[2018-03-12 02:59] sandylss commented on #173
I finally fix this problem use minikube..... when I use minikube deploy Istio,this problem gone.I don't know why,I guess Istio maybe doesn't support k8s on bare metal.

[2018-03-12 03:29] Dmitry1987 opened #237 "Additional RouteRules breaks previous rule with lower precedence"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes, didn't find this combination of rules like mine if other issues
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
no au

[2018-03-12 04:22] ldemailly commented on #173
if one of you would like to try again with the 0.6.0 release, it would be useful to know what happened

[2018-03-13 08:03] eoftedal commented on #165
Related to this, it would be great if the subject field in the certificate was populated with service account name, and namespace name, as some applications expect to be able to use the subject to do authorization.

[2018-03-13 12:30] kubeguide opened #238 "Error creating redisquota adapter"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes, can't find related error report and solution.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
no

**What happened**

[2018-03-13 16:42] molcochet commented on #221
Hi,
I'm seeing the same issue with internal GRpc traffic. I'm using a rest interface in the ingress configuration and then the containers use grpc internally to communicate. The following error is returned from my internal grpc client (echoed out over rest)

If I address the grpc server directly from the ingress, with no internal hop, the traffic routes correctly. Also if istio and sidecars are re

[2018-03-13 16:52] #234 closed

[2018-03-13 21:05] narehayrapetyan opened #239 "AWS Cloudwatch adapter feature proposal"
Hello, I'm planning on contributing an AWS cloudwatch mixer adapter to send metrics to cloudwatch. I wanted to gauge interest and also see if there's anything I should look out for other than following the adapter development doc. Thanks!

[2018-03-14 02:09] bobbytables commented on #237
I have this same exact issue. Here's what I discovered:

The route table for the Envoy ingress get updated just fine with both the RouteRule + IngressRules.

However, the `CDS` endpoint of Pilot shows my cluster for my ingress with no route rule disappears and only my cluster for the one that has a specific `RouteRule` applied exists.

My guess is that the consolidation that occurs to render the C

[2018-03-14 02:27] bobbytables commented on #237
Based on this comment, I'm guessing this is the cause: https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/config.go?utf8=%E2%9C%93#L614-L618

`IngressRule`'s aren't added as a `v1alpha1` RouteRule, but when you add a `RouteRule` type, the default adds the new API version / group. Hence, when the CDS endpoint only has the RouteRule type instead.

[2018-03-14 02:59] fudali113 commented on #173
I have a similar problem.
[code]

# istio-ingress log:
[code]

Could it be kube-dns?
@ldemailly

[2018-03-14 03:21] ldemailly commented on #173
[code]
not sure how that happens - @kuat ?

[2018-03-14 03:49] bobbytables commented on #234
Thanks Kuat!

On Tue, Mar 13, 2018 at 12:53 PM Kuat <notifications@github.com> wrote:

--
- Robert Ross

[2018-03-14 06:48] fudali113 commented on #173
![image](https://user-images.githubusercontent.com/16189465/37387263-ae60f1b6-2796-11e8-9b22-98f638d777e5.png)
I don't have that file.

[2018-03-14 07:03] kyessenov commented on #173
This file is auto-generated. Can you ssh into failed pods and extract that file?
cc @nmittler can we bump the log level for the agent to print the config? it should be printed the logs by default.

[2018-03-14 09:27] fudali113 commented on #173
I don't quite follow you.
Is there any way to solve my problem?
@kyessenov @ldemailly

[2018-03-14 09:44] Dmitry1987 commented on #237
Oh my, that means it wont work?  Is there a solution to use several RouteRules with ingress?

[2018-03-14 14:59] ldemailly commented on #173
we are trying to understand how did you end up with an envoy boostrap config that doesn’t parse.

[2018-03-14 17:09] kyessenov commented on #237
cc @ZackButcher @ijsnellf : could please take a look? sounds like something is amiss in the ingress config generation.

[2018-03-14 17:10] bobbytables commented on #237
This is how I was able to break this: https://youtu.be/R0D1UQdPSsE

* Have a k8s ingress rule pointing to a service
* CDS endpoint for ingress looks fine
* Add RouteRule for original destination, old ingress rule vanishes from CDS

[2018-03-14 17:16] bobbytables commented on #237
I should add that the Ingress rule _does_ have prefix matcher. IE: (`path: /.*`)

[2018-03-14 17:23] kyessenov commented on #173
@costinm how come the bootstrap config is missing? is there some hardcoded config file and the debug message is wrong?

[2018-03-14 17:34] claudenm opened #240 "Autoscaling fails when automatic sidecar injection is enabled."
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes -- there are known issues with manual injection and autoscale, but nothing with automatic sidecar injection and autoscale.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installati

[2018-03-14 21:37] Dmitry1987 commented on #237
hehe @bobbytables thanks for sharing. a "video bug report" could be feature request to GitHub :) , they don't develop much lately, GitHub remains the same as 5 years ago, it's about time to add some fresh ideas :)  with a "video diff" function, now that sounds modern ;)

[2018-03-14 22:06] oaktowner commented on #233
If there is no precedence, how does a user decipher how a specific call will be routed?

[2018-03-14 23:22] ZackButcher commented on #237
I'm taking a look at this now.

[2018-03-15 01:03] kevinohara80 commented on #188
I just got bit with this today. A client library we’re using for jwks is expecting an https endpoint. Setting it to http breaks it. I think there has to be a lot of client libraries out there that are like this.

I’m curious what the proposals are for addressing this?

[2018-03-15 01:47] fudali113 commented on #173
start log：
[code]
delete log：
[code]

I started the log with some errors, could this be the reason?

[2018-03-15 12:50] rettori opened #241 "timeout not being removed."
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
irrelevant
**What happened**:
If you create a rule with a timeout for a service, and then delete if afterwards, it seems that it is not completely deleted/flushed to envoy.
**What you expected to happen:**
Deleted all rules, and created a

[2018-03-15 20:52] jamesfalkner commented on #29
Welp, it's there now: https://github.com/istio/istio/commit/0198fc5ca214fcd7b3e9f15ae471146124bef59c

[2018-03-15 22:11] ayj commented on #29
Yup, we can close this now. The initializer specific changes are no longer relevant now that that we're doing pod-level injection.

[2018-03-15 22:11] #29 closed

[2018-03-16 02:36] ldemailly commented on #123
what happens if you rerun the same command a second time ?

[2018-03-16 15:33] bobbytables commented on #237
Any status on this?

[2018-03-16 18:31] mmshaikh88 commented on #169
It looks like istio-proxy sidecar is getting SIGTERM after istio manual sidecar injection.

Am I hitting some bug here:

[2018-03-16 05:38:39.799][22][info][upstream] external/envoy/source/server/lds_api.cc:60] lds: add/update listener 'tcp_10.32.0.48_4001'

[2018-03-16 05:38:39.799][22][info][upstream] external/envoy/source/server/lds_api.cc:60] lds: add/update listener 'tcp_10.35.240.10_53'

[20

[2018-03-17 01:21] sakshigoel12 commented on #162
markvincze@ any pending issue?

[2018-03-17 02:59] salrashid123 opened #242 "Minikube sidecar injection not working on 0.6.0"
Minikube installation isn't addin in the sidecar on ```0.6.0``` and k8s ```1.9.0```

I'm using minikube
[code]
with [kvm2 driver](https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver)

on
[code]

but the sidecar isn't getting added in autmatically.

I'm filing this bug for now but will pick it up in a week  w/ more details (going on vacation)

Complete steps incase someon

[2018-03-19 02:30] zhaohuabing opened #243 "Does Istio have a plan to support service name in HTTP URL path or header?"
**Feature Request:**
Y

**Describe the feature:**
As I understand it, currently Istio take the "host" part of the http request as the service name and use it to find the destination service. For example, in the Bookinfo example, the service name "details" is extracted from the host part of request "http://details:9080/...".

While I understand this is a logical approach for Istio because of its ti

[2018-03-19 12:27] arbarlow opened #244 ""404 NR 0 0 0" on deploys/updates"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Auth Disabled

**What happened**:
When performing a deploy and rolling

[2018-03-19 13:44] fudali113 commented on #173
I have solved my problem because I did not properly configure my kube-dns service.
@ldemailly @kyessenov

[2018-03-19 17:05] #173 closed

[2018-03-19 20:36] ldemailly commented on #244
NR means no route - ie your service is unknown to pilot/envoy

Make sure practices:80 is configured/known as a service (looks like that's what your client is sending as authority)

also, could you try 0.6.0 ?

[2018-03-20 04:57] #231 closed

[2018-03-20 06:31] stunn3r-kloud opened #245 "egress error - not able to access http service"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
Using 0.5.1 istio from official istio git repo, 1.9.2 GKE with alpha features enabled

**Is Istio Auth enabled or

[2018-03-20 06:45] stunn3r-kloud opened #246 "routerules not working with nginx ingress"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
0.5.1 istio from official repo, 1.9.2 GKE cluster with alpha features enabled

istioctl version
kubectl version

[2018-03-20 12:23] arbarlow commented on #244
Hi @ldemailly,

`practices:80` is definitely a route and more troubling is that is was working fine before the pod was deleted and came back (from a deploy etc) without config changes.

We'll look at upgrading to 0.6.0, but since this is production is might take a few days

[2018-03-20 23:27] baldwinSPC commented on #239
@narehayrapetyan cool. we're planning to do the same. want to work together?

[2018-03-21 17:03] ayj commented on #162
Pilot config caching performance has been improved in 0.6 which should partly address this issue. Closing for now. We should open an new issue if the problem persists with the latest release.

[2018-03-21 17:03] #162 closed

[2018-03-21 18:44] vadimeisenbergibm commented on #245
Please define:
[code]

`apt-get` accesses various URLs under `*.debian.org`, e.g. http://security.debian.org

[2018-03-22 00:53] Dmitry1987 commented on #237
thanks @ZackButcher let me know if I can help

[2018-03-22 07:42] emmayang commented on #184
Same issue here, only manual injection works, and nothing happened with auto injection.

[2018-03-22 15:22] jmassey-datadog opened #247 "Provide SHA2-256 Checksum of Builds"
In an effort to provide more security, can you provide the SHA2-256 outputs of the build artifacts? These could be added to the release artifacts as `istio-${ISTIO_VERSION}-${OSEXT}.tar.gz.sha256`. The hash **should** be included in the release notes on Istio's website.

If an attacker gains access to a github account who has rights to push an Istio release, she would also need to gain access to I

[2018-03-22 15:25] trishankatdatadog commented on #247
I second this, especially with the separation of duties part, otherwise one risks running into the [same fate as Bitcoin Gold when they had their GitHub account hacked](https://bitcoingold.org/critical-warning-nov-26/).

In the long term, I would **strongly** recommend at least GPG-signing Istio artifacts.

[2018-03-22 16:53] ayj commented on #184
cc @yusuoh

[2018-03-22 17:59] ayj commented on #147
The original issue was resolved by increasing Pilot replicas and increasing the refresh polling intervals. Furthermore, additional performance enhancements have been made to Pilot which improve scaling.

[2018-03-22 17:59] #147 closed

[2018-03-22 18:26] eoftedal opened #248 "In 0.5.1 certificates expire before being refreshed due to float-to-integer truncation"
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
This is fixed in 0.6.0, but broken in the 0.5.x. 0.5.2 should be release to fix this (backport the fix).

**Bug:**
Y

**What happened**:
time.Duration expects an integer. It gets a float (sc.gracePeriodRatio = 0.5) which is truncated to 0:
https://github.com/istio/istio/blob/0.5

[2018-03-22 18:51] andraxylia commented on #237
Issue moved to [istio/istio #4468](https://github.com/istio/istio/issues/4468) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-23 05:30] s332401890 commented on #114
i find this at 0.6.0 release.

kubectl version
[code]

pods inof

[code]

istio info

[code]

kubectl logs deployment/reviews-v1 istio-proxy

[code]

[2018-03-23 10:51] fudali113 opened #249 "prometheus istio-mesh status DOWN"
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
YES
[code]
**What happened

[2018-03-23 13:30] cmluciano commented on #209
This is fixed with https://github.com/istio/istio/pull/3010

[2018-03-23 13:30] #209 closed

[2018-03-23 23:01] terinjokes commented on #202
At least in my cause, it seems `istioctl` isn't using the "certificate-authority-data" information from my ~/.kube/config.

[2018-03-24 16:11] jayanthpurushothaman opened #250 "Sidecar injection MutatingAdmissionWebhook throws "getsockopt: no route to host" error in API server logs"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
After following the official documentation for

[2018-03-25 20:19] jsw opened #251 "Enhance retry/timeout functionality"
Feature request

**Describe the feature:**

Istio should expose at least as much config as envoy proxy supports. One apparently missing feature is configuring the `retry-on` policy https://www.envoyproxy.io/docs/envoy/v1.6.0/configuration/http_filters/router_filter.html#config-http-filters-router-x-envoy-retry-on

Additional parameters that would be useful
* connect timeout
* socket/read/idle time

[2018-03-25 20:23] jsw opened #252 "Exclude health checks from telemetry"
Feature request

**Describe the feature:**

Add ability to exclude GLB and kubernetes health checks from telemetry.
The paths could either be inferred from the environment and/or allow users to specify a set of paths or path expressions.

[2018-03-26 07:11] fudali113 commented on #242
I can't run too.
[code]

[code]

[2018-03-26 11:24] eoftedal commented on #172
@smarterclayton What I would really like to see from openshift is the possibility for the openshift admins to add specific init containers (images) that are allowed to run with such privileges without granting the RBAC users in the project/namespace access to running other containers with NET_CAP_ADMIN.

[2018-03-26 12:42] oaktowner opened #253 "Apply rate limits from ingress"
As requested on the API Management group:

Essentially, the request is to limit the rate at which a given client can call a service, and there is a special case when that 'client' is 'ingress'.

[2018-03-26 13:41] velislav opened #254 "kubectl logs not working after istioctl kube-inject"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
istio.yaml

**What h

[2018-03-26 16:07] oaktowner commented on #253
Thanks for clarification -- edited title accordingly.

[2018-03-26 16:27] andrew-dinunzio opened #255 "serviceAccountName listed when rbacEnabled=false"
**Is this a BUG or FEATURE REQUEST?:**

BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Y

**Bug:**
**Y**/N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

Also, running on Minikube:
`minikube version: v0.25.2`

I cloned Istio's source code to get Istio

[2018-03-26 19:04] my3sons opened #256 "Add ability to define a file based scheme for jwks_uri in EndUserAuthenticationPolicySpec"
We have a JWT scenario where the public key that is used to verify the signature of the JWT is mounted to the pods via a Kubernetes secrets volume. Therefore, we need the ability to define a file location scheme value for the jwks_uri property that is associated to our EndUserAuthenticationPolicySpec. Currently, only the http and https schemes are supported.

[2018-03-26 19:17] andrew-dinunzio commented on #255
Well, I thought it was working properly, but the istio-mixer and istio-pilot pods have containers that are crashing. They both run for a while before crashing though (both have crashed 14 times for me so far).

In the istio-mixer pod, it's the mixer-proxy that crashes with error messages like this:
[code]

In the istio-pilot pod, the istio-proxy container is crashing with these logs:
[code]

[2018-03-26 22:56] xiaolanz commented on #254
Did you try inject with --debug?

[2018-03-26 23:04] narehayrapetyan commented on #239
@baldwinSPC great! I actually have a working cw metrics adapter, I just need to get internal approval before I can open a PR.

[2018-03-26 23:09] baldwinSPC commented on #239
@narehayrapetyan awesome. happy to collab once it's up.

[2018-03-27 00:44] jsw commented on #252
On further thought, this is probably better done later in the flow, such as in the Grafana charts.

[2018-03-27 01:12] anandkumarpatel opened #257 "RateLimiting is not working."
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Auth is NOT enabled

**What happened**:
After installing minikube

[2018-03-27 01:26] anandkumarpatel commented on #257
Also found this in the metrics. 2 instances one with `error=true` and one with `error=false`
[code]

[2018-03-27 03:07] mandarjog commented on #257
This is an omission in the docs.

Please add quotaspec and quotaspecbinding resources per
https://github.com/istio/istio/blob/master/samples/bookinfo/kube/mixer-rule-ratings-ratelimit.yaml

[2018-03-27 04:38] anandkumarpatel commented on #257
Do I need to do something different than that file? I tried applying that file as well with the same result.

[2018-03-27 08:11] eoftedal commented on #248
@wattli Please re-read what I wrote in the bug report. I know it is fixed in 0.6. The point is that according to the release description of 0.6 "This is a scheduled monthly release but not LTS (long term support). ". So this bug should be backported to 0.5 as well, as 0.5.1 is currently broken

[2018-03-27 09:16] velislav commented on #254
Yep, but the information do not lead me to solution:
[code]

[2018-03-27 16:06] anandkumarpatel commented on #257
Found the issue. Looking at the docs for `QuotaSpecBinding.QuotaSpecReference` https://istio.io/docs/reference/config/istio.mixer.v1.config.client.html#QuotaSpecBinding.QuotaSpecReference

It states:
[code]

The namespace for `QuotaSpec` in the [mixer-rule-ratings-ratelimit.yaml](https://github.com/istio/istio/blob/master/samples/bookinfo/kube/mixer-rule-ratings-ratelimit.yaml#L70) is `istio-syste

[2018-03-28 06:19] xiaoxubeii commented on #123
I have same issue.

[2018-03-28 13:55] elevran opened #258 "Proto message missing attributes from parent bag"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
N/A
**What happened**:
Bag ToProto() contains only direct attributes

[2018-03-29 03:51] xiaoxubeii commented on #255
Same here.

[2018-03-29 08:36] fudali113 commented on #249
@douglas-reid can you help me ?

[2018-03-29 12:31] geoand commented on #223
This is issue persists in `0.6.0` and `0.7.0`.

@sdake Can you please have a look? I would very much like to contribute a fix, but since I'm not very familiar with Go or it's build tools, I don't really know were to look.

Thanks!

[2018-03-29 19:28] cdelpinogeo opened #259 "Bug in mixer rule"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....

istio.yaml

**What

[2018-03-30 11:43] avalcepina opened #260 "Routing with conditions does not work correctly with Ingress"
**Is this a BUG or FEATURE REQUEST?:**

Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....

NO AUTH

**What happen

[2018-03-30 13:13] visheyra opened #261 "webhook-create-signed-cert.sh and kubectl 1.10 +"
Kind: BUG

istioctl version
[code]

kubectl version
[code]
In kubectl 1.10+ version when you do a dry run then output it as yaml or json the following fields are missing: Kind, APIVersion

Since you just pipe the output to kubectl to apply the secret, it can happen because those mandatory fields are unset.

**How to reproduce it:**
You should have a kubectl client in 1.10+ at least and istio insta

[2018-03-30 13:26] jsenon commented on #261
Link to https://github.com/kubernetes/kubectl/issues/384

[2018-03-30 19:46] narehayrapetyan commented on #239
@baldwinSPC I opened the [PR](https://github.com/istio/istio/pull/4617) if you want to take a look.

[2018-03-30 21:34] danderson opened #262 "Istio on GKE installation instructions produce broken cluster"
**Is this a BUG or FEATURE REQUEST?:**

Bug.

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes, reviewed. No, doesn't help.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[code]

[code]

**Is Istio Auth enabled or not ?**
Deployed a GKE cluster with

[2018-03-30 21:54] danderson commented on #262
This smells a lot like istio/issues#261 , in that the failure mode is identical - the secret is never created. I find this surprising, because it implies that deployment manager is using a v1.10 kubectl under the hood, which I did not believe to be true.

[2018-04-02 20:53] jsw opened #263 "Parameterize sidecar-injector policy in helm template"
**Feature Request:**
Y

**Describe the feature:**

Parameterize the `policy` value
https://github.com/istio/istio/blob/0.7.1/install/kubernetes/helm/istio/charts/sidecar-injector/templates/configmap.yaml#L13

[2018-04-03 01:42] mattmi-vbt opened #264 "webhook-create-signed-cert.sh fails on OpenShift 3.9.0"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** NO
Did you install istio.yaml, istio-auth.yaml.... istio.yaml

**Wha

[2018-04-03 02:43] linsun commented on #264
Could you try reproduce this on minikube pls?

[2018-04-03 03:04] mattmi-vbt commented on #264
Unfortunately, no, I can't. Our target platform is OpenShift so I really need to make this work on OpenShift. I suspect it will work on Minikube since it has a working controller that will generate the cert.

I'm not sure this is a regression. It's likely something to do with how OpenShift implements their controllers and the CertificateSigningRequest object isn't processed somehow because Redhat

[2018-04-03 11:49] adamzhoul opened #265 "upstream connect error or disconnect/reset before headers"
**env**

    istioctl           0.6
    kubectl          1.9
    install from:  github
    install file :    ./install/kubernetes/istio.yaml
    example:      ./samples/bookinfo/kube/bookinfo.yaml

**problem**

    follow the instruction, installed the bookinfo sample.
    when i visit  http://myip:30144/productpage
    show this:
            upstream connect error or disconnect/reset before heade

[2018-04-03 12:31] axelbodo commented on #150
I'd like to ask regarding this, than how to solve per pod communication, like custom metric scapers, which need to communicate directly with pods, and not with services, even when mtls is also in effect.

[2018-04-03 13:17] adamzhoul commented on #265
check the pilot, discovery log
get :  warn	unable to retrieve region label for pod: productpage-v1-777c468697-4c7pq
is that the reason ? why

[2018-04-03 13:31] adamdyga opened #266 "Istio 0.7.1 doesn't contain certificates"
**Bug:**

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[code]
Operating system is OS.X
Istio is installed according to https://istio.io/docs/setup/kubernetes/quick-start.html :
[code]

**Is Istio Auth enabled or not ?**
Yes (enabled)

**What happened**:

The docs at https://istio.io/docs/tasks/security/plugin-ca-cert.html mention certi

[2018-04-03 14:39] visheyra commented on #123
Hi guys. I'm actually trying to installing istio in 0.6 on a kubernetes 1.9.6 on AWS and experiencing the same issues. Do you still don't have any other infos that could be shared ? For information, these issues happens to me right after a istio unistall (of version 0.7.1) has finished.

[2018-04-04 01:35] ldemailly commented on #123
why would you uninstall 0.7.1 and go back to 0.6.0 ?

[2018-04-04 07:33] c52662 opened #267 "my service failed with 503 err and msg "upstream connect error or disconnect/reset before headers""
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No(disabled)

**What happened**:
The official sample BookInfo worked fine on my cluster. I have written my own service named "hello-test" in python and manually injected istio sidecar (enovy-debug).

Now I'm trying to deploy two instances

[2018-04-04 07:46] c52662 opened #268 "How to debug "upstream connect error or disconnect/reset before headers""
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No(disabled)

**What happened**:
I have written my service in python and manually inject istio sidecar。

But when I deploy it, I get http 503 err and the err msg "upstream connect error or disconnect/reset before headers"

I need some adv

[2018-04-04 09:12] avalcepina commented on #260
Through further experimenting (on 0.7.1) I noticed that if I specify a condition on every route rule everything works even through an Ingress.
This is still a big problem however, because there's no easy way to specify a match everything condition.

[2018-04-04 09:14] avalcepina commented on #260
This is the sam issue reported in #4468

[2018-04-04 13:43] linsun commented on #268
can you check if your upstream service (and its pod) is running?  e.g. you should be able to access the service as a k8s service.

[2018-04-04 13:44] doncorsean commented on #179
OpenShift]$ istioctl version
Version: 0.5.1
GitRevision: 30acfe6528107ea333543309095659b93364b30d
User: root@2e4a18076b04
Hub: docker.io/istio
GolangVersion: go1.9
BuildStatus: Clean

[2018-04-04 14:30] doncorsean opened #269 "Grafana & Prometheus pods crash using 0.7.1 (was working in 0.5.1)"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
istio.yaml

**What happened*

[2018-04-04 15:04] mikedoug commented on #261
I too ran into this problem, but worked around it for the time being by changing the bottom of the script to read:

[code]

[2018-04-04 19:24] wattli commented on #266
Sure, a fix is on the way.

[2018-04-04 19:25] wattli commented on #266
@myidpt, FYI.

[2018-04-04 19:26] linsun commented on #268
Seems a good troubleshooting docs on how to debug this can be useful.  cc @esnible

[2018-04-04 19:26] wattli commented on #266
@adamdyga , we are working a fix now and to unblock you, please try the old website:
https://archive.istio.io/v0.6/docs/tasks/security/plugin-ca-cert

[2018-04-04 19:27] linsun commented on #265
do you mean AZ label for pod (vs region) in the log?  cc @liamawhite  If it is AZ, it is not harmful for istio non-auth install.

[2018-04-04 19:44] jsenon commented on #261
It seems that bug is corrected in 1.10.1 beta, will be available soon on stable version

[2018-04-04 19:51] linsun commented on #265
also, can you check if your product page pod is running fine?

[2018-04-04 19:52] linsun commented on #264
cc @ayj for web hook script @christian-posta for openshift.

[2018-04-04 19:57] ayj commented on #264
@yusuoh just updated cert provisioning to use Istio CA instead of k8s CSR API. He removed webhook-create-signed-cert.sh and the caBundle patching script in the process. I don't believe he's updated the istio.io documentation to reflect this yet.

[2018-04-04 20:25] linsun commented on #263
Is this enabled here already?  https://github.com/istio/istio/blob/0.7.1/install/kubernetes/helm/istio/values.yaml#L74

[2018-04-04 20:27] linsun commented on #261
@ayj could you help triage this?

[2018-04-04 20:28] liamawhite commented on #265
Yeah the warning is harmless. Won't have any effect on the routing.

[2018-04-04 20:28] linsun commented on #261
maybe this could be just a limitation to document in our istio.io for kubectl 1.10

[2018-04-04 20:29] linsun commented on #262
agree it does sound like istio/issues#261 cc @ayj for triage.

[2018-04-04 20:30] jsenon commented on #261
I think so, I can update docs if needed

[2018-04-04 20:31] jsw commented on #263
I didn't notice that. So it looks like it's already in values.yaml, but the value in the template I linked is not referencing it, unless I'm misunderstanding the setup?

[2018-04-04 20:31] linsun commented on #260
agree, it looks same as istio/istio#4468, please follow up with istio/istio#4468 for status.

[2018-04-04 20:31] #260 closed

[2018-04-04 20:32] linsun commented on #259
@mandarjog could you help triage this?

[2018-04-04 20:42] linsun commented on #254
i can't recreate this, works fine for me.  cc @ayj in case he has any idea.

[2018-04-04 20:58] esnible commented on #268
I took your code and changed the listen IP address to localhost, like this:

[code]

After making that change I could the expected log entries and they were similar to what I saw when Istio was not injected.

I suspect that incoming packets are being directed to Envoy which is invoking hello-test at localhost:41302.  But hello-test isn't listening for 0.0.0.0 or localhost, it is listening explicit

[2018-04-04 21:39] adamdyga commented on #266
@wattli I did. As I wrote in my original post, if you use the certificates listed at https://archive.istio.io/v0.6/docs/tasks/security/plugin-ca-cert the tutorial fails at point 4.
Additionally, if you use those certificates, the mutual TLS seems to be *not* working for me. At least when you verify it according to https://istio.io/docs/tasks/security/mutual-tls.html, the following command fails:
[

[2018-04-04 21:46] jsenon commented on #261
Still have issue with v1.10.1 beta
[code]
[code]

[2018-04-04 22:02] ayj commented on #261
https://github.com/istio/istio/pull/4466 replaced the webhook scripts. Install is now more automatic and depends on Istio CA for cert provisioning.

cc @yusuoh

[2018-04-04 22:14] ayj commented on #262
cc @selmanj - it looks like DM config might need to be updated to account for a change in behaviot in kubectl v1.10 (see https://github.com/kubernetes/kubectl/issues/384 and stio/issues#261).

[2018-04-04 22:26] hklai commented on #179
Please try 0.6.0 or 0.7.1. 0.7.0 is bad and should not be used anyway.

[2018-04-04 22:41] selmanj commented on #262
The DM template has an `apt-get update && apt-get install -y git curl kubectl` step at the beginning, so it's likely it's using the affected version of kubectl.

We could either force the install to use a previous version or patch `./install/kubernetes/webhook-patch-ca-bundle.sh`. @ayj what do you think?

[2018-04-04 22:45] myidpt commented on #266
Sorry, this is a known issue and fixed at head:
https://github.com/istio/istio/pull/4640
Istio CA from the V0.6 release should not have this issue. You can use the head or V0.6 to test.

[2018-04-04 22:48] ayj commented on #262
`install/kubernetes/webhook-patch-ca-bundle.sh` is going away in 0.8. @yusuoh replaced it with automatic cert provisioning using Istio CA.

If this needs to be patched for 0.7.0 pinning to a specific version might be easiest. Otherwise you'll need to add conditional checks in the scripts to optional prepend version/kind info.

[2018-04-04 22:54] selmanj commented on #262
I don't think the DM template is updated for 0.7.0. I'll do that in a separate PR.

Let me see about pinning to a previous kubectl to avoid this issue for now.

[2018-04-04 22:56] karlmutch commented on #87
FAQ Still indicates using dots is not supported, https://istio.io/help/faq/traffic-management.html

[2018-04-04 23:03] #266 closed

[2018-04-04 23:51] xiaolanz commented on #254
I cannot reproduce either.

[2018-04-04 23:52] #254 closed

[2018-04-05 00:17] selmanj commented on #262
I'm unable to reproduce the issue. As an additional item, `kubectl` installed on the instance is version 1.7.5, not 1.10, so it seems the issue must be something else.

[code]

[2018-04-05 00:39] selmanj commented on #262
I did notice a few issues with the script itself; for example it's using a version of GKE that is no longer supported, and the debian image used for the installer vm is outdated. Will send out PRs to fix those before continuing to investigate.

[2018-04-05 05:17] jsenon commented on #261
Has mention by @nikhita : This was fixed in kubernetes/kubernetes#61808. This patch was cherry-picked into release-1.10 - kubernetes/kubernetes#61836.

[2018-04-05 11:54] jsenon opened #270 "istioctl proxy-command issue"
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
mTLS not enabled

**What happened**:

[code]

**What you expected to happen:**

[code]

**How to reproduce it:**

Do not specified config file path for kubeconfig

**Feature Request:**
N

**Describe the feature:**
Chek Cobra and Viper con

[2018-04-05 13:41] fengjian1585 opened #271 "Admission control webhooks (e.g. sidecar injector) don't work on EKS"
master1 kube-controller-manager: I0405 21:40:29.377013    1538 event.go:218] Event(v1.ObjectReference{Kind:"ReplicaSet", Namespace:"default", Name:"sleep-6bc9d848fc", UID:"322f0a8a-38d5-11e8-aad2-005056846055", APIVersion:"extensions", ResourceVersion:"2633", FieldPath:""}): type: 'Warning' reason: 'FailedCreate' Error creating: Internal error occurred: failed calling admission webhook "sidecar-in

[2018-04-05 14:08] linsun commented on #271
could you kindly update the bug with the template?

It seems your sidecar injector pod is not running?  can you double check it is running?

cc @ayj @yusuoh

[2018-04-05 14:08] liamawhite commented on #270
Yes, I believe it was fixed as part of this PR - https://github.com/istio/istio/pull/4355#issue-175719749

[2018-04-05 14:12] linsun commented on #255
could you clarify this is only an issue with helm chart?

[2018-04-05 14:17] linsun commented on #245
please reopen when the above comment doesn't help.  Also the community is working on make this simpler by enable all external traffic by default.  see https://github.com/istio/istio/issues/4378

[2018-04-05 14:17] #245 closed

[2018-04-05 14:49] fengjian1585 commented on #271
sorry，I'm not very useful.

[root@master1 istio-0.7.1]# kubectl -n istio-system get deployment -listio=sidecar-injector
NAME                     DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
istio-sidecar-injector   1         1         1            1           37m

##########

deployment
NAMESPACE      NAME                                     READY     STATUS    RESTARTS   AGE       IP

[2018-04-05 14:50] fengjian1585 commented on #271
sorry，I'm not very useful.

[root@master1 istio-0.7.1]# kubectl -n istio-system get deployment -listio=sidecar-injector
NAME DESIRED CURRENT UP-TO-DATE AVAILABLE AGE
istio-sidecar-injector 1 1 1 1 37m

##########

deployment
NAMESPACE NAME READY STATUS RESTARTS AGE IP NODE
istio-system istio-ca-86f55cc46f-cz2vl 1/1 Running 0 40m 10.233.53.4 node2
istio-system istio-ingress-868d5f978b-ts77q 1/1 Run

[2018-04-05 14:51] linsun commented on #270
Thanks Liam!

[2018-04-05 14:51] #270 closed

[2018-04-05 14:53] fengjian1585 commented on #271
## sorry，I'm not very useful.

[root@master1 istio-0.7.1]# kubectl -n istio-system get deployment -listio=sidecar-injector
NAME DESIRED CURRENT UP-TO-DATE AVAILABLE AGE
istio-sidecar-injector 1 1 1 1 37m

[2018-04-05 14:53] fengjian1585 commented on #271
_sorry，I'm not very useful.

[root@master1 istio-0.7.1]# kubectl -n istio-system get deployment -listio=sidecar-injector
NAME DESIRED CURRENT UP-TO-DATE AVAILABLE AGE
istio-sidecar-injector 1 1 1 1 37m

##########

deployment
NAMESPACE NAME READY STATUS RESTARTS AGE IP NODE
istio-system istio-ca-86f55cc46f-cz2vl 1/1 Running 0 40m 10.233.53.4 node2
istio-system istio-ingress-868d5f978b-ts77q 1/1 Ru

[2018-04-05 14:54] andrew-dinunzio commented on #255
I believe the primary issue is with helm charts, since my "fix" allowed the `helm install` step to complete; however, the other issues (with different pods crashing) I cannot confirm is related to helm. I don't really understand the error messages well enough.

[2018-04-05 16:53] sdake commented on #255
One of the issues mentioned (although not the main issue)  is more thoroughly described here: https://github.com/istio/istio/issues/3895

[2018-04-05 16:56] sdake commented on #255
not sure what this issue is about with RBAC enabled ```
[2018-03-26 19:34:58.609][55][critical][main] external/envoy/source/server/server.cc:71] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-mixer
[code]

[2018-04-05 16:57] sdake commented on #255
@andrew-dinunzio I'm not sure anyone has tested with rbac disabled.  It is not part of our automated testing.  Still, should work.  I will take a look today and see what falls out.

Cheers
-steve

[2018-04-05 17:32] kyessenov commented on #255
I do test with rbacDisabled on master, and that seems to work. I had to fix
a couple of minor issues to make it work about a week ago.

On Thu, Apr 5, 2018 at 9:57 AM Steven Dake <notifications@github.com> wrote:

[2018-04-05 17:56] sdake commented on #255
@andrew-dinunzio @xiaoxubeii - I find it unlikely that this PR made the release: https://github.com/istio/istio/pull/4641

Can you clarify if you are using the released Helm template, or master Helm template?  I'd recommend a cherrypick of @kyessenov 's work if you are using 0.7.1 + a copy of the *tpl files as described as a workaround in https://github.com/istio/istio/issues/3895

[2018-04-05 19:41] doncorsean commented on #179
Upgraded to 0.7.1 but now can't push docker images to OpenShift repo, even with centos flag :/

[2018-04-05 20:16] selmanj commented on #262
Update; after resolving the issues on my local branch I was able to reproduce the issue; it DOES seem to be caused by the affected kubectl version (I'm not sure how I didn't run into it when I previously looked - maybe due to the older image?)

I'll update the script to use the previously-released kubectl and then send out a PR.

[2018-04-05 23:37] renperez commented on #262
i'm running kubectl 1.10.0 and i am seeing this error.
Unable to mount volumes for pod "istio-sidecar-injector-6ff9fb5698-82kpg_istio-system(58d89fa2-3929-11e8-a486-069e57407dac)": timeout expired waiting for volumes to attach/mount for pod "istio-system"/"istio-sidecar-injector-6ff9fb5698-82kpg". list of unattached/unmounted volumes=[certs]

MountVolume.SetUp failed for volume "certs" : secrets "

[2018-04-05 23:38] renperez commented on #262
==> v2beta1/HorizontalPodAutoscaler
NAME           REFERENCE                 TARGETS          MINPODS  MAXPODS  REPLICAS  AGE
istio-ingress  Deployment/istio-ingress  <unknown> / 80%  2        8        2         3h

==> v1beta1/Deployment
NAME                    DESIRED  CURRENT  UP-TO-DATE  AVAILABLE  AGE
istio-ingress           2        2        2           2          3h
istio-mixer

[2018-04-06 02:36] ldemailly commented on #268
awesome job finding the issue @esnible

when binding server socket in k8s env (and elsewhere really) it's best to just bind to the default which is all addresses

we probably should add that to the faq
(for instance in go, call `net.Listen("tcp", ":yourport")` with nothing before the : port

with a corollary if your app relies on localhost (like some mysql setup) for elevated privilege, don't side

[2018-04-06 02:55] ldemailly commented on #243
how is you application getting IP:Port in the example above, and why can't it use a name ?

Istio is using a header already it's the Host: header, which you can set if needed (you could set that header even if you use the IP above)?

This being said, yes, in the most general term, being able to change/adapt the routes flexibly makes sense; as well as supporting some sort of ip/port -> service reve

[2018-04-06 03:03] ldemailly commented on #257
For reference we do have a working test of rate limits:

https://github.com/istio/istio/blob/0.7.1/tests/e2e/tests/mixer/mixer_test.go#L563

So indeed this is mostly a doc issue

[2018-04-06 08:51] unludo opened #273 "Manual sidecar injection in a GRPC endpoint in GKE 1.9 - istio 0.7.1"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
I tried both

**What

[2018-04-06 14:06] linsun commented on #273
Believe this is GKE specific with metadata service cc @ldemailly @andraxylia

[2018-04-06 16:38] xiaolanz commented on #273
I'm working on writing a tutorial for installing istio on endpoints. For this to work, you have to whitelist istio ip ranges at ingress during kube-inject: https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly

[2018-04-06 16:39] #273 closed

[2018-04-06 17:25] akyyy opened #274 "appendHeaders does not work in istio 0.7.1"
**Is this a BUG or FEATURE REQUEST?:**
BUG

istioctl version: 0.7.1
kubectl version: 1.9.3-gke.0

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if using the Helm chart please provide full command line input.
istio.yaml

**What happened**:
appendHeaders does not work.

**What you expected to happen:**
appendHeaders would add headers to request.

*

[2018-04-07 00:03] renperez commented on #262
any update on this? this is also broken on helm install.

[2018-04-07 02:13] linsun commented on #274
FYI, this route rule is what I used:

[code]

[2018-04-07 02:14] linsun commented on #274
just for the record - I can't recreate it with my service and route rule above.

[2018-04-07 03:05] selmanj commented on #262
Once #4781 is merged in, the GKE template should work; I'll let someone else comment regarding the helm install.

[2018-04-08 05:01] c52662 commented on #268
@esnible Sorry for the late reply  because I was on vacation for the past three days, Now I have modified and tested the code according to your suggestion.
It really works!
I think the problem is resolved!
Thank you all !

[2018-04-09 04:08] fudali113 opened #275 "Irregular connection reset."
**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if usin

[2018-04-09 09:03] fudali113 commented on #275
I found this to happen when I deployed a new service or restarted a service.

[2018-04-09 09:15] fudali113 commented on #275
istio-proxy log:
[code]

what is Proxy availability zone?

[2018-04-09 12:32] sdake commented on #56
closing as the current dev model works well enough.

[2018-04-09 12:32] #56 closed

[2018-04-09 12:59] sdake commented on #223
@geoand I've been reviewing your work in https://github.com/istio/istio/pull/4623 - however I don't have ACLs to merge the work.  @sebastienvas may be able to further help.

Cheers
-steve

[2018-04-09 13:36] sdake commented on #172
/subscribe

[2018-04-09 18:11] yusuoh commented on #250
Did you have a chance to check the status or log for the sidecar injector service pod?

[2018-04-09 18:42] awalmsley opened #276 "Route rule failing with JSON schema validation errors"
**Is this a BUG or FEATURE REQUEST?:**
Bug or configuration error

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes, similar error condition reported and fixed, but not related to route rules. https://github.com/istio/issues/issues/20

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Ist

[2018-04-09 18:57] linsun commented on #276
if you use istioctl to apply the rule, it can help you with basic validation.

https://github.com/istio/api/blob/master/routing/v1alpha1/route_rule.proto

[2018-04-09 18:59] linsun commented on #275
@andraxylia should this one be added to https://github.com/istio/istio/issues/4810?

[2018-04-09 19:00] linsun commented on #275
proxy AZ msg should be harmless, fyi

[2018-04-09 21:48] awalmsley commented on #276
I tried using istioct to create the route rule, got the same istio controller log output.
[code]
If I change the destination service in the route rule, it is created without errors. So maybe the issue is with the service or ingress, and not the route rule itself.

[2018-04-10 02:30] omnilinguist opened #277 "mixer spams "could not find pod" logs to warn level"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
**Is Istio Auth enabled or not ?** No (istio.yaml)

**What happened**: (Was advised by @mandarjog to fil

[2018-04-10 02:43] fudali113 commented on #275
hi @linsun ,Can you tell me the reason or the convenient document?

[2018-04-10 06:39] geoand commented on #223
@sebastienvas Do we need to do anything to get this merged?

[2018-04-10 08:36] eoftedal commented on #165
Or just CN=spiffe://cluster.local/ns/some-namespace/sa/some-service-account

[2018-04-10 11:08] Dakuan commented on #41
on minikube this can be caused by not having access to docker-registry, this can fix: `eval $(minikube docker-env)`

[2018-04-10 16:23] mikedoug opened #278 "Envoy ready before service, causes momentary failures with "upstream connect error or disconnect/reset before headers""
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Yes?

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if

[2018-04-10 18:54] linsun commented on #278
Thanks for reporting this, this is an interesting prob.  Agree that it is not helpful to have envoy side car declared running before the actual service container reaches running.

Do you have health check for your service?  It could help k8s to know when your service is running.
cc @costinm @rshriram @louiscryan @frankbu

[2018-04-10 20:31] mikedoug commented on #278
I do not have a health check setup.  I'll give full disclaimer that I am new to Kubernetes and am experimenting with all of this now.  I will look into setting one up to see if it fixes the problem -- it sounds like it will.

However, it seems bad form for the Envoy sidecar to require a manual health-check configured for every service simply because this race condition exists.  Long term it would

[2018-04-10 20:42] doncorsean opened #279 "Pods fail to init without debug flag"
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if usi

[2018-04-10 21:35] mikedoug commented on #278
This configuration resolves my issue:

[code]

However, this should be default behavior of the Istio sidecar to ensure that the internal services are reachable before itself going reachable.

[2018-04-10 21:59] mikedoug commented on #278
I take that back.  I am still having the same issue where, even with the readinessProbe above, my service is returning the "upstream connect error or disconnect/reset before headers" briefly before beginning to function properly.

[2018-04-10 23:41] ayj commented on #278
Issue moved to [istio/istio #4865](https://github.com/istio/istio/issues/4865) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-10 23:41] #278 closed

[2018-04-10 23:50] ayj commented on #279
Possibly related https://github.com/istio/istio/issues/4500. `--debug` enables privileges in the init container.
cc @cmluciano

[2018-04-10 23:50] ayj commented on #279
Issue moved to [istio/istio #4866](https://github.com/istio/istio/issues/4866) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-10 23:50] #279 closed

[2018-04-11 11:14] dunjut opened #280 "bookinfo example doesn't work due to istio-proxy restarting"
**Is this a BUG or FEATURE REQUEST?:**
_Bug (maybe)_

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
_Yes_

**Bug:**
Y/N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml

[2018-04-11 16:18] Sneko commented on #111
@jensneuse @GregHanson

Just found that: https://github.com/controlplaneio/theseus

Didn't tried but may it could help you. Do not hesitate to share other ones if you have :)

[2018-04-11 17:50] ayj commented on #111
Closing in favor of https://github.com/istio/istio/issues/1971

[2018-04-11 17:50] #111 closed

[2018-04-11 18:13] #280 closed

[2018-04-11 18:13] ayj commented on #280
Issue moved to [istio/istio #4873](https://github.com/istio/istio/issues/4873) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-12 11:25] Vikash082 opened #281 "webhook-create-signed-cert.sh fails on kubernetes"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** Yes
Did you install the stable istio.yaml, istio-auth.yaml....  or if

[2018-04-12 11:30] Vikash082 commented on #281
sorry, look like duplicate of  https://github.com/istio/issues/issues/261

[2018-04-12 11:30] #281 closed

[2018-04-12 11:32] Vikash082 commented on #261
I installed fresh Istio today and getting same error.

[2018-04-12 11:39] jsenon commented on #261
Have you kubectl in version 1.10?

[2018-04-12 11:43] Vikash082 commented on #261
Yes
[code]

[2018-04-12 12:08] jsenon commented on #261
You right, its fixed on version 1.11

[2018-04-12 13:02] fudali113 commented on #275
I find this problem seems to be caused by the conflict of Egress configuration, but I think the Egress conflict should not cause this result.   @linsun

[2018-04-12 13:30] Vikash082 commented on #261
will only kubectl update will fix the issue ?

[2018-04-12 13:42] Vikash082 commented on #261
Don't see any version 1.11. Meanwhile, is there any work around ?

[2018-04-12 13:45] jsenon commented on #261
Does the workaround from @mikedoug working?

[2018-04-12 13:58] Vikash082 commented on #261
Thanks, it worked fine.

[2018-04-12 14:50] fleeto opened #282 ""Using Istio Routing Rules with Ingress" does not work as expected"
**Is this a BUG or FEATURE REQUEST?:**

Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if using

[2018-04-12 16:04] Vikash082 opened #283 "All bookinfo reviews pods have CrashLoopBackOff state"
**Is this a BUG or FEATURE REQUEST?:**  BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if us

[2018-04-12 17:00] ayj commented on #282
Can you provide the failing curl command with full output/errors?

[2018-04-12 17:38] ayj commented on #283
Can you provide more information on your test environment / cluster?

cc @linsun @frankbu - any ideas why the bookinfo review app might be crashing?

[2018-04-12 17:42] ryane opened #284 "helm: inconsistent service name usage in zipkin subchart"
**BUG**

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**

Yes, but not applicable.

**What happened**:

The ingress for zipkin uses an incorrect service name for the backend.

**What you expected to happen:**

The zipkin Ingress should reference the correct zipkin service name.

**How

[2018-04-12 17:48] Vikash082 commented on #283
I have 2 physical nodes, one master and one worker. These two machines have 57G free memory and enough disk space. Both the nodes are Centos systems.

Pod info:
[code]
cluster-info:
[code]
Let me know, if more information is needed.

[2018-04-12 17:51] farcaller opened #285 "discovery fatal error: concurrent map read and map write"
**Is this a BUG or FEATURE REQUEST?:**

Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**

Yes, istio-auth.yaml

**What happened**:

discovery crashed after

[2018-04-12 18:01] ayj commented on #285
Issue moved to [istio/istio #4903](https://github.com/istio/istio/issues/4903) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-12 18:01] #285 closed

[2018-04-12 20:49] fleeto commented on #282
The routerule:

[code]

The command
[code]

Because the delay of 7 seconds is greater  than 4, so It should return a status code of 503, not 200

[2018-04-13 00:01] omnilinguist opened #286 "extraneous newline in istioctl kube-injected yamls"
**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:** Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?** No (istio.yaml)

**What happened**: In https://github.com/istio/isti

[2018-04-13 01:11] jivi20029 commented on #240
the same problem

[2018-04-13 16:04] Rigdon commented on #202
@terinjokes or @conorcurlett  Were you able to find a workaround for this?

[2018-04-13 18:03] jeffmendoza commented on #284
@ryane Thanks for the report. Let's update the ingress.yaml to point to the hardcoded backend service name. As you mentioned, istio/istio#4853 covers the request to make the name configurable. Do you want me to make this change?

[2018-04-13 18:38] ryane commented on #284
I can create a quick PR for it

[2018-04-13 18:52] #202 closed

[2018-04-13 18:52] ayj commented on #202
Issue moved to [istio/istio #4938](https://github.com/istio/istio/issues/4938) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-13 19:45] ayj commented on #286
Thanks for reporting. See https://github.com/istio/istio/pull/4942 for the fix.

[2018-04-13 23:41] cesarlbf commented on #188
Hi! I am facing the same scenario.

[2018-04-14 15:14] fleeto opened #287 "no matches for kind "redisquota" in version "config.istio.io/v1alpha2""
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if using the

[2018-04-15 03:09] fleeto opened #288 "no matches for kind "DestinationPolicy" in version "config.istio.io/v1alpha1""
**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Y

**Bug:**

Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if using

[2018-04-15 03:11] fleeto commented on #288
https://github.com/istio/istio/blob/master/samples/httpbin/destinationpolicies/httpbin-circuit-breaker.yaml

[2018-04-16 02:37] douglas-reid commented on #277
Reducing the frequency of these messages seems worthwhile.

I am a bit interested in the reasons for seeing this issue so frequently as well. What is preventing mixer from finding the pods for the uids supplied in your deployment at such an alarming rate? It may be worth diagnosing this issue, as it _could_ impact other bits of Mixer functionality (missing labels, bad rate limits, etc.).

[2018-04-16 02:39] douglas-reid commented on #259
Is hellorest kube-injected in your deployment?

[2018-04-16 02:44] douglas-reid commented on #249
@fudali113 sorry, i missed the notification for this issue. Do you know if the Mixer config for prometheus was properly installed and loaded by Mixer?  There is related steps for troubleshooting available at https://istio.io/help/troubleshooting.html#verify-mixer-is-sending-metric-instances-to-the-prometheus-adapter.

[2018-04-16 02:45] douglas-reid commented on #174
@bianpengyuan can you help with this issue?

[2018-04-16 06:41] freemantle1989 commented on #250
Got exactly the same Problem after upgrading from 0.6.0 to 0.7.1

But i have to say that we had Problems in 0.6.0 too.

[2018-04-16 10:28] saturnism commented on #174
ping

[2018-04-16 14:33] RickVM opened #289 "installing istio on GKE fails on authorization"
**Bug:**
**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
I am trying to install istio Auth

**What happened**:
running: kubectl apply -f install/kubernetes/istio-auth.yaml
console reports installing and configuring some files and then returns the following multiple times for files:
[code]

[2018-04-16 16:14] ayj commented on #250
You could try to verify basic network connectivity between your master and the pod running the webhook.

[2018-04-16 16:38] bianpengyuan commented on #174
@rvrignaud You need to modify configs in order to report tracing to stackdriver. 'trace_zipkin_url' in mixer config is just used for mixer's own tracing, but not service tracing. Currently service tracing data does not go through mixer, instead service proxy (envoy) reports tracing data directly to the selected tracing system.

If you want to have service tracing in stackdriver, you need to config

[2018-04-16 17:18] jayunit100 opened #290 "Lots of metrics that I'm not injecting"
Hi istio !  Have really enjoyed my initial POC w/ this stuff on GKE !!! Now that its time to get serious and try to create some finer grained information, and I ran into some issues, however.

I beleive  this issue is a bug, because it makes it impossible, or extremely cumbersome, to use istio to investigate a single namespace of interest... but if not, I'm happy to close it .

It appears  that th

[2018-04-16 19:04] jayunit100 commented on #290
1) Interesting.  What I found in common was...... these are all HTTP services.  So the *missing services* for envoy issue is a non-issue.

2) However, I'm still going to suggest that maybe the older services (created before I istio'd my cluster) being present is a probblem.

Starting to think maybe its just a config issue.  Not sure though !

[2018-04-16 21:03] douglas-reid commented on #290
@jayunit100:

RE: bytes-in/out for HTTP services

We are in-progress of adding total bytes sent/received for http services (current support is `request. size` and `response.size`, but this will add headers, etc. to the calculation).

RE: Old services

Are the service definitions for these services still in the API server?

[2018-04-16 21:50] sakshigoel12 commented on #263
@mandarjog can you take a look and suggest what work needs to happen here?

[2018-04-16 21:51] sakshigoel12 commented on #263
@ayj adding you incase you can help here

[2018-04-16 22:12] jayunit100 commented on #290
I see them for http services.

I don’t see them for https services.

[2018-04-16 22:13] jayunit100 commented on #290
Thanks for the response btw, just curious if that HTTP above was a typo?  Curious what challenges there are for https that raw bytes in and out are significantly different then http.  I’m also trying to learn more about Istio internals so, could be my own ignorance.

[2018-04-17 03:56] douglas-reid commented on #290
HTTPS (and other TCP protocols) should be there now (`connection.sent.bytes_total` and `connection.received.bytes_total`). The difference is that for HTTP, we had been relying on the request/response size attributes, which were including strictly reporting on the body. We are adding to HTTP support by adding attributes that include total size as well.

Does that help?

[2018-04-17 09:09] rvrignaud commented on #174
Hi @bianpengyuan,

Thank you for your reply.
I think that changing this service name https://github.com/istio/istio/blob/master/install/kubernetes/templates/addons/zipkin-to-stackdriver.yaml.tmpl#L35  `zipkin` would allow zipkin-to-stackdriver work out of the box.
With a warning in the documentation stating that zipkin-to-stackdriver addon installation is mutually exclusive with zipkin or jaeger a

[2018-04-17 13:41] jayunit100 commented on #290
http://35.184.76.105:3000/d/1/istio-dashboard?refresh=5s&orgId=1 , FYI, this is my istio dashboard.  Anything look fishy?  I only see metrics for HTTP based services, which definetly makes me think something is wrong w/ HTTPS based metrics?

[2018-04-17 13:50] fudali113 opened #291 "VirtualService not available"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install the stable istio.yaml, istio-auth.yaml....  or if usi

[2018-04-17 14:52] #284 closed

[2018-04-17 15:13] douglas-reid commented on #290
@jayunit100 one thing I notice is that your HTTP services are showing up as TCP services. I think this may be a configuration issue. Are the ports for those services labeled with the prefix of "http" ?

[2018-04-17 21:36] ayj commented on #263
I think this is what @jsw is asking for. The _policy_ value should be added to each of the value-*.yaml helm variants.

[code]

[2018-04-17 21:39] jsw commented on #263
@ayj Yes! Sorry I wasn't more clear. Basically I want to use the helm templates and override the default policy via command-line arg.

[2018-04-17 21:42] kyessenov commented on #174
Can something be done in the context of https://github.com/istio/istio/issues/4853?

[2018-04-17 23:51] bianpengyuan commented on #174
@rvrignaud I will add zipkin-to-stackdriver to the tracing doc to reduce confusion.